@font-face {
  font-family: 'Industry-Medium';
  src: url('../fonts/Industry-Medium.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	font-family: 'Industry-Medium', 'Rajdhani', sans-serif;
	color: #000000;
	overflow-x: hidden;
}

a:hover{
	color: #436284;
}

hr{
	border-top: 1px solid #dedede;
}

textarea:focus, input:focus{
	outline: 1px solid #000000;
	border-radius: 3px;
}

.contenedor{
	max-width: 1170px;
    margin: 0 auto;
}

.boton{
	background-color: #436284;
	border-radius: 3px;
	color: #ffffff;
	font-size: 1.4rem;
	text-transform: uppercase;
}

.navbar{
	background: #ffffff;
	border: none;
	margin: 0;
	z-index: 5;
    position: relative;
}

.navbar-header{
	width: 100%;
	max-width: 1170px;
	position: relative;
	text-transform: uppercase;
}
.navbar-header a.freightliner{
	background-image: url(../img/freightliner.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 50%;
	max-width: 190px;
	margin-left: 0;
	height: 38px;
	display: block;
	margin-top: 20px;
	margin-bottom: 26px;
}

.info-header{
	position: absolute;
    right: 0;
    top: 30px;
}

.info-header p{
	float: left;
	font-size: 1.4rem;
	font-weight: 500;
	position: relative;
}

.info-header p:before{
	content: "";
	position: absolute;
	background-image: url(../img/ico-phone.png);
	width: 16px;
	height: 16px;
	left: -23px;
	top: 4px;	
}
.info-header a, .navbar-header a{
	font-size: 1.4rem;
	font-weight: 500;
	margin-left: 49px;
	color: #000000;
	position: relative;
}

.info-header a:before{
	content: "";
	position: absolute;
	background-image: url(../img/ico-mail.png);
	width: 16px;
	height: 11px;
	left: -23px;
	top: 5px;	
}

.info-header a:hover{
	color: #436284;
}

.navbar-collapse{
	float: left;
	width: 100%;
	max-width: 1170px;
}

.navbar-collapse:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #dedede;
	left: 0;
	top: 84px;	
}
.navbar-collapse:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #dedede;
	left: 0;
	bottom: 0;
}
.navbar-collapse ul{
	padding: 20px 0 28px;
	width: calc(100% - 132px);
}

.navbar-collapse ul li{
	text-transform: uppercase;
	float: left;
	list-style: none;
	margin: 0 1px 17px;
}

.navbar-collapse ul li a{
	font-size: 1.4rem;
	font-weight: 500;
	padding: 4px 10px 6px;
	color: #000000;
}

.navbar-collapse ul li a:hover, .navbar-collapse ul li a.active{
	background-color: #436284;
	border-radius: 3px;
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
}

.navbar .expandible a{
	padding-right: 20px;
	position: relative;
}
.navbar .expandible a:after{
	position: absolute;
	content: "";
	background-image: url(../img/arrow-down.svg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	width: 9px;
	height: 5px;
	top: 11px;
    right: 4px;
}

.navbar .expandible a:hover:after{
	background-position: bottom;
}

nav .redes{
	float: right;
	margin-top: -43px;
	z-index: 10;
    position: relative;
}

.redes a:first-child{
	margin-left: 0;
}

.redes a{
	width: 31px;
	height: 31px;
	background-position: top;
	background-size: 100%;
	float: left;
    margin-left: 10px;
}
.facebook{
	background-image: url(../img/icon-facebook.png);
}
.instagram{
	background-image: url(../img/icon-instagram.png);
}
.youtube{
	background-image: url(../img/icon-youtube.png);
}

.mail{
	background-image: url(../img/icon-mail.png);
}



/*==================================Menu expandido==================================*/

.menu-expandido{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
	display: none;
	top: 121px;
	z-index: 6;
}

.menu-expandido:before{
	width: 100%;
	height: 47.5vw;
    max-height: 553px;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	z-index: 4;
}

.menu-expandido .tipo{
	position: absolute;
	top: 0;
	left: 0;
	width: 23%;
	height: 46vw;
    max-height: 539px;
	z-index: 4;
	background-color: #ffffff;
	padding: 0;
	margin-top: 21px;
}

.menu-expandido .tipo li{
	width: 100%;
	list-style: none;
	position: initial;
}

.menu-expandido .tipo li a:after{
	content: "";
	position: absolute;
	background-image: url(../img/arrow-right.svg);
	width: 8px;
	height: 14px;
	background-size: 100%;
	background-position: top;
	right: 15px;
	top: 40%;
	z-index: 1;
}

.menu-expandido .tipo li a:hover:after{
	background-position: bottom;
}

.menu-expandido .tipo li a{
	width: 100%;
	padding: 12% 8%;
	background-position: center center;
	background-size: cover;
	color: #000000;
	font-size: 1.5rem;
	position: relative;
	display: block;
	z-index: 1;
	text-transform: uppercase;
	cursor: pointer;
}

.menu-expandido .tipo li a:hover{
	color: #ffffff;
	text-decoration: none;
}

.menu-expandido .tipo li a:before{
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: -1;
}

.menu-expandido .tipo li a:hover:before{
	background-color: rgba(0, 0, 0, 0.5);
}

.menu-expandido .tipo li .opciones{
	position: absolute;
	left: 100%;
	top: 0;
	width: 82%;
	padding: 0;
	height: 46vw;
	max-height: 539px;
	background-color: #ffffff;
	display: none;
	z-index: 4;
}

.menu-expandido .tipo li:hover .opciones li:first-child .detalles{
	display: block;
}

.menu-expandido .tipo li:hover .opciones li+li .detalles{
	z-index: 0;
}

.menu-expandido .tipo li:hover .opciones{
	display: block;
}

.menu-expandido .tipo li .opciones li{
	width: 100%;
}

.menu-expandido .tipo li .opciones li a:after{
	width: 6px;
	height: 10px;
}
.menu-expandido .tipo li .opciones li a{
	padding: 9% 7%;
	font-size: 1.5rem;
}

.menu-expandido .tipo li .opciones li a:hover{
	background-color: #436284;
	color: #ffffff;
}

.menu-expandido .tipo li .opciones li a:hover:before{
	display: none;
}

.menu-expandido .tipo li .opciones li .detalles{
	position: absolute;
	width: 76vw;
    max-width: 901px;
    height: 46vw;
    max-height: 539px;
	left: 0%;
	top:0;
	background-color: #ffffff;
	display: none;
	margin-top: 0;
    margin-bottom: 0;
}

.menu-expandido .tipo li .opciones li:hover .detalles{
	display: block;
}

.menu-expandido .tipo li .opciones li .detalles .det-image{
	position: absolute;
	width: 100%;
	height: 32vw;
    max-height: 373px;
	background-size: cover;
	background-position: center center;
	left: 0;
	top:0;
}

.menu-expandido .tipo li .opciones li .detalles a:before{
	display: none;
}

.menu-expandido .tipo li .opciones li .detalles p.det-nombre{
	font-size: 4rem;
    position: absolute;
    top: 70%;
    width: 65%;
}

.menu-expandido .tipo li .opciones li .detalles p{
	font-size: 2.9rem;
    position: absolute;
    top: 87%;
    width: 22%;
    font-family: 'Industry-Medium', 'Rajdhani', sans-serif;
}

.menu-expandido .tipo li .opciones li .detalles p:before{
	font-size: 1.4rem;
	line-height: 1.4rem;
	left: 0;
	top: -20px;
	position: absolute;
	text-transform: uppercase;
}

.menu-expandido .tipo li .opciones li .detalles .det-pbv,
.menu-expandido .tipo li .opciones li .detalles .det-motor,
.menu-expandido .tipo li .opciones li .detalles .det-pbv{
    top: 87%;
}

.menu-expandido .tipo li .opciones li .detalles .det-pbv:before{
	content: "Peso en vacío";
}
.menu-expandido .tipo li .opciones li .detalles .det-motor:before{
	content: "Motor";
}
.menu-expandido .tipo li .opciones li .detalles .det-vol-vac:before{
	content: "Volqueta en vacío";
}

.menu-expandido .tipo li .opciones li .detalles .det-capacidad,
.menu-expandido .tipo li .opciones li .detalles .det-potencia,
.menu-expandido .tipo li .opciones li .detalles .det-combinado,
.menu-expandido .tipo li .opciones li .detalles .det-distancia{
    top: 87%;
    left: 22%;
}

.menu-expandido .tipo li .opciones li .detalles .det-capacidad span,
.menu-expandido .tipo li .opciones li .detalles .det-potencia span,
.menu-expandido .tipo li .opciones li .detalles .det-combinado span,
.menu-expandido .tipo li .opciones li .detalles .det-distancia span{
	font-size: 1.7rem;
    top: -10px;
    position: relative;
}
.menu-expandido .tipo li .opciones li .detalles .det-potencia:before{
	content: "Potencia";
}
.menu-expandido .tipo li .opciones li .detalles .det-combinado:before{
	content: "PBV Combinado (2S3)";
}
.menu-expandido .tipo li .opciones li .detalles .det-distancia:before{
	content: "Distancia entre ejes";
}
.menu-expandido .tipo li .opciones li .detalles .det-capacidad:before{
	content: "Capacidad volumétrica";
}

.menu-expandido .tipo li .opciones li .detalles .det-precio,
.menu-expandido .tipo li .opciones li .detalles .det-precio-volco-hoper{
    left: 44%;
    top: 87%;
}

.menu-expandido .tipo li .opciones li .detalles .det-precio:before{
	content: "precio desde";
}

.menu-expandido .tipo li .opciones li .detalles .det-precio-volco-hoper:before{
	content: "Precio desde";
}

.menu-expandido .tipo li .opciones li .detalles .det-precio:after,
.menu-expandido .tipo li .opciones li .detalles .det-precio-volco-hoper:after{
	content: "Precio sugerido incluye IVA";
	position: absolute;
	font-size: 1.2rem;
	left: 0;
	top: 44px;
	font-weight: 600;
}

.menu-expandido .tipo li .opciones li .detalles .det-btn{
	font-size: 2.9rem;
    position: absolute;
    right: 0;
    left: initial;
    top: 69.2%;
    width: 30%;
    height: 30.8%;
    border-left: 1px solid #dedede;
    padding: 4% 0;
}

.menu-expandido .tipo li .opciones li .detalles .det-btn a{
	margin: 0 auto;
	padding: 4% 6%;
	width: 63%;
    text-align: center;
    margin-bottom: 3%;
    background-color: #436284;
    color: #ffffff;
    border-radius: 3px;
    font-size: 1.4rem;
    z-index: 0;
}

.menu-expandido .tipo li .opciones li .detalles .det-btn a:after{
	background-position: bottom;
}

.menu-expandido .tipo li .opciones li .detalles .det-btn a:hover{
	text-decoration: none;
}

.menu-expandido .tipo li .opciones li .detalles .det-btn a+a{
	background-color: #000000;
	text-align: left;
}

.menu-expandido .tipo li .opciones li .detalles .det-btn a+a:after{
	position: absolute;
	content: "";
	background-image: url(../img/save.svg);
	width: 20px;
	height: 20px;
	right: 8%;
	top: 11px;
}

.menu-expandido ul.tipo:before{content: "Productos"; position: absolute; width: 100%; height: 93px; background-color: #ededed; color: #000000; text-align: center; top: -93px; left: 0; padding: 32px; font-size: 2rem;text-transform: uppercase; display: none; z-index: 1;}

.menu-back{
	content: "";
	position: absolute;
    font-size: 3rem;
    color: #000000;
    left: 4%;
    top: -55px;
    z-index: 40;
    background-image: url(../img/arrow-left.svg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 12px;
    height: 19px;
    display: none;
}

.overlay{
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: #000;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.slider-home{
	width: 100%;
	height: 40vw;
	max-height: 560px;
}

.slider-home .carousel-example-generic, .slider-home .carousel-inner{
	height: 40vw;
	max-height: 560px;
}
.slider-home .slider{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 40vw;
	max-height: 560px;
	position: relative;
	text-transform: uppercase;
}

.slider-home .slider.active{
	display: block;
}

.slider-home .slider:before, .slider-producto:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.9)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.concesionarios:before, .repuestos-lighbox:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: -1;
}

.slider-home .slider p, .slider-producto p{
	color: #ffffff;
	font-size: 7rem;
	line-height: 7rem;
	position: absolute;
	bottom: 40%;
	left: 15%;
	max-width: 800px;
}

.slider-home .slider img{
	width: 100vw;
}

.slider-home .slider .boton{
	padding: 11px 26px 9px;
	font-size: 1.6rem;
	position: absolute;
	bottom: 31%;
	left: 15%;
}

.slider-home .slider .boton:hover{
	background-color: #ffffff;
	text-decoration: none;
}

.slider-home .slider-1{
	background-image: url(../img/foto-cascadia.jpg);
}
.slider-home .slider-2{
	background-image: url(../img/foto-75-anos.jpg);
}
.slider-home .slider-3{
	background-image: url(../img/foto-precios.jpg);
}

.slider-home .thumbs{
	max-width: 1170px;
	width: 100%;
    margin: 0 auto;
    position: relative;
    top: -7vw;
    z-index: 2;
}

.slider-home .thumbs li{
	width: 23%;
	height: 13vw;
	max-width: 278px;
	max-height: 166px;
	border: 2px solid #ffffff;
	margin-left: 2%;
	float: left;
	list-style: none;
	cursor: pointer;
	color: #ffffff;
	font-size: 2.2rem;
	text-transform: uppercase;
	line-height: 2.4rem;
	position: relative;
	z-index: 4;
	text-align: left;
}

.slider-home .thumbs li p{
	position: absolute;
	bottom: 16%;
    left: 11%;
}

@keyframes slidein {
  from {
    width: 0%
  }

  to {
    width: 100%;
  }
}

.slider-home .thumbs li.active:after{
	height: 3px;
	width: 100%;
	content:"";
	position: absolute;
	bottom: -2px;
	left: 0;
	background-color: #436284;
	animation-duration: 5.35s;
  	animation-name: slidein;
}

.slider-home .thumbs li:before{
	content: "";
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
}

.slider-home .thumbs li:hover p{
	text-decoration: underline;
}

.slider-home .thumbs li:first-child{
	/*margin-left: 14%;*/
	margin-left: 0;
}

.slider-home .thumbs li.thumb-1{
	background-image: url(../img/grandes_en_todo_thum.jpg);
	background-size: cover;
}
.slider-home .thumbs li.thumb-2{
	background-image: url(../img/Banner_FL2-thumb.png);
}
.slider-home .thumbs li.thumb-3{
	background-image: url(../img/foto-75-anos-thumb.jpg);
}
.slider-home .thumbs li.thumb-4{
	background-image: url(../img/foto-precios-thumb.jpg);
}

.slider-home .carousel-indicators{
	left: unset;
}

.slider-home .carousel-indicators li{
	border-radius: 0;
	text-indent: inherit;
	margin: 0 0 0 2%;
}

.slider-producto{
	width: 100%;
	height: 40vw;
	max-height: 518px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	text-transform: uppercase;
}

.slider-producto .pro-precio{
	color: #ffffff;
	font-size: 3rem;
	line-height: 3rem;
	position: absolute;
	bottom: 32%;
	left: 15%;
	max-width: 800px;
}

.slider-producto .pro-iva{
	color: #ffffff;
	font-size: 1.2rem;
	line-height: 1rem;
	position: absolute;
	bottom: 28%;
	left: 15%;
	max-width: 800px;
	font-family: Helvetica, sans-serif;
	text-transform: initial;
}

.slider-info{
	width: 100%;
	padding: 50px 0;
	background-color: #000000;
	color: #ffffff;
	position: relative;
	text-transform: uppercase;
}
.slider-info h1{
	font-size: 6.8rem;
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}

.slider-info div{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}
.slider-info img{
	float: right;
	width: 45%;
	max-width: 448px;
	margin-top: -116px;
}

.slider-historia{
	width: 100%;
	background-color: #436284;
}

.slider-historia .slider{
	position: relative;
	display: flow-root;
}

.slider-historia .slider div:first-child{
	width: 50%;
	height: 50vw;
	max-height: 932px;
	float: right;
	background-size: cover;
	background-position: center;
}

.slider-historia .slider div:nth-child(2){
	width: 32%;
	max-height: 932px;
	position: absolute;
	bottom: 17%;
	left: 10%;
	color: #ffffff;
}

.slider-historia .slider div h2{
	font-size: 10rem;
	margin-left: -5px;
}

.slider-historia .slider div p{
	font-size: 15px;
    line-height: 2.8rem;
	font-family: Helvetica, sans-serif;
	text-transform: initial;
	font-weight: 100;
}

.slider-historia .carousel-control.left, .slider-historia .carousel-control.right{
	background-image: none;
}

.slider-historia .carousel-control .icon-prev, .slider-historia .carousel-control .glyphicon-chevron-left{
	left: 30%;
}

.slider-historia .carousel-control .icon-next, .slider-historia .carousel-control .glyphicon-chevron-right{
	right: 30%;
}
.slider-historia .carousel-control.left span, .slider-historia .carousel-control.right span{
	background-color: rgba(255, 255, 255, 0.58);
	padding-top: 5px;
	border-radius: 50%;
	width: 58px;
	height: 58px;
}

.slider-historia .carousel-control.left .glyphicon-chevron-left:before{
	left: 17px;
    top: 14px;
    background-image: url(../img/arrow-left-blue.svg);
}

.slider-historia .carousel-control.right .glyphicon-chevron-right:before{
	left: 22px;
    top: 14px;
    background-image: url(../img/arrow-right-blue.svg);
}

.slider-historia .carousel-indicators{
	left: 10%;
	margin-left: 0;
	text-align: left;
	width: 43%;
}

.slider-historia .carousel-indicators li{
	background-color: #ffffff;
}

.slider-historia .carousel-indicators .active{
	background-color: #9d9fa1;
	border-color: transparent;
}

.productos{
	width: 100%;
	max-width: 1170px;
	margin: 5% auto 3%;
    display: table;
}

.productos .col-md-6{
	height: 29vw;
	max-height: 331px;
	width: 48%;
    margin: 0 1% 3%;
	position: relative;
	z-index: 2;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
	text-align: center;
	padding: 0;
	float: left;
}

.info .productos .col-md-6{
	padding: 8% 1% 1%;
}
.info .productos .col-md-6:before{
	width: 100%;
	height: 100%;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.productos .col-md-6 img{
	width: 100%;
}

.productos .col-md-6:hover{
	text-decoration: underline;
}

.productos .col-md-6 h2{
	font-size: 3rem;
	text-transform: uppercase;
	color: #000000;
	text-align: left;
}

.info .productos .col-md-6 h2{
	font-size: 3rem;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
}

.productos .col-md-6 p, .info .productos .col-md-6 p{
	font-family: Helvetica, sans-serif;
	padding: 1% 17% 6%;
    font-weight: 100;
    line-height: 2rem;
}

.noticias{
	width: 100%;
	max-width: 1170px;
	margin: 5% auto 4%;
	display: table;
}

.noticias h2{
	text-transform: uppercase;
	font-size: 4rem;
	margin-bottom: 30px;
}

a.noticia:hover h2{
	text-decoration: underline;
}

.noticias a{
	cursor: pointer;
}

.noticias .col-md-6{
	height: auto;
	width: 48%;
    margin: 0 1%;
	position: relative;
	float: left;
	padding: 0;
}

a.destacado:hover h2{
	text-decoration: underline;
}

a.noticia:hover, a.destacado:hover, .noticias .col-md-6:hover .fecha, .noticias .col-md-3:hover .fecha, .noticias .col-md-6:hover .fecha span, .noticias .col-md-3:hover .fecha span {
	text-decoration: none;
}

.noticias .col-md-6 .imagen{
	width: 100%;
	height: 40vw;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	max-height: 497px;
}

.noticias .col-md-6 .fecha, .noticias .col-md-3 .fecha{
	color: #acbcc5;
	font-size: 1.3rem;
	text-align: left;
	margin-top: 3%;
}
.noticias .col-md-6 h2{
	color: #000000;
	font-size: 2.9rem;
	text-align: left;
	text-transform: uppercase;
	margin: 2% 0;
}

.noticias .col-md-3{
	height: auto;
	width: 23%;
    margin: 0 1%;
	position: relative;
	float: left;
	padding: 0 0 2%;
}

.noticias .col-md-3 .imagen{
	width: 100%;
	height: 20vw;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	max-height: 207px;
}

.noticias .col-md-3 h2{
	color: #000000;
	font-size: 2.1rem;
	text-align: left;
	text-transform: uppercase;
	margin: 2% 0;
}

.concesionarios{
	width: 100%;
	height: 30vw;
	max-height: 435px;
	max-width: 1170px;
	margin: 5% auto;
	background-image: url(../img/concesionarios.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 2;
	text-align: center;
	color: #ffffff;
	display: table;
	padding: 7% 0 11%;
}

.concesionarios h2, .repuestos-lighbox h2{
	font-size: 4rem;
	text-transform: uppercase;
}

.info .concesionarios h2, .info .repuestos-lighbox h2{
	margin-bottom: 3%;
}

.concesionarios p{
	font-family: Helvetica, sans-serif;
	padding: 1% 22% 2%;
    font-weight: 100;
}

.concesionarios .boton, .repuestos-lighbox .boton{
	padding: 11px 45px 12px;
	background-color: #436284;
	border-radius: 3px;
	color: #ffffff;
	font-size: 1.4rem;
	text-transform: uppercase;
	cursor: pointer;
}

.concesionarios a:hover, .repuestos-lighbox a:hover{
	background-color: #ffffff;
	color: #436284;
	text-decoration: none;
}

.repuestos-lighbox{
	background-image: url(../img/repuestos.jpg);
	width: 100%;
	height: 30vw;
	max-height: 435px;
	max-width: 1170px;
	margin: 5% auto;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 2;
	text-align: center;
	color: #ffffff;
	display: table;
	padding: 9.5% 0;
}

.content{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0;
	float: none;
	display: table;
}

.producto .descripcion{
	width: 60%;
	float: left;
	padding: 5% 8% 0 0;
}

.producto .descripcion h2{
	font-size: 2.9rem;
	text-transform: uppercase;
	margin-top: 4%;
}

.producto .descripcion p{
	font-family: Helvetica, sans-serif;
	line-height: 3rem;
}

.producto .especificaciones{
	width: 40%;
	float: left;
	position: relative;
}

.producto .especificaciones h2{
	text-transform: uppercase;
	padding: 18px;
	font-size: 2.2rem;
	margin-top: -59px;
	margin-bottom: 0;
	background-color: #dedede;
}

.producto .especificaciones .spec{
	border-left: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	width: 50%;
	float: left;
	text-align: center;
	padding: 6% 3% 1%;
	height: 16vw;
    max-height: 180px;
    position: relative;
}

.producto .especificaciones .spec:nth-child(odd){
	border-right: 1px solid #dedede;
}

.producto .especificaciones .spec p{
	text-transform: uppercase;
	font-size: 1.5rem;
	margin-top: 2%;
	position: absolute;
	bottom: 13%;
	text-align: center;
    width: 88%;
}

.producto .especificaciones .spec p+p{
	bottom: 0;
	color: #acbcc5;
	font-size: 1.4rem;
}

/*.producto .especificaciones .btn-ficha{
	display: none;
}*/

.producto .especificaciones .boton{
	width: 100%;
	padding: 2.5% 10%;
    margin-top: 2%;
	float: left;
	text-align: center;
}

.producto .especificaciones .boton:hover, .producto .especificaciones .boton:focus{
	color: #ffffff;
	text-decoration: none;
}

.producto .especificaciones .boton+.boton{
	background-color: #000000;
	cursor: pointer;
}

.producto .imagenes{
	width: 100%;
	float: left;
	margin-top: 8%;
}

.producto .imagenes div{
	background-size: cover;
	background-position: center;
	width: 49%;
	margin-bottom: 2%;
	height: 43vw;
	max-height: 414px;
	float: left;
}

.producto .imagenes div:first-child{
	margin-right: 2%;
}

.producto .imagenes div:nth-child(3){
	width: 100%;
}

.producto .detalles, .training .detalles{
	margin-top: 6%;
	margin-bottom: 8%;
    float: left;
}

.producto .detalles div, .training .detalles div{
	float: left;
}

.producto .detalles h3, .training .detalles h3{
	text-transform: uppercase;
	font-size: 2.9rem;
	width: 47%;
	margin-top: 8%;
	float: left;
    margin-right: 7%;
}

.producto .detalles p, .training .detalles p{
	width: 47%;
	float: left;
	line-height: 3.1rem;
	font-family: Helvetica, sans-serif;
}

.producto .detalles img{
	width: 48%;
	float: right;
	margin-top: -7%;
}

.training .detalles img{
	width: 48%;
	float: right;
	margin-top: -11%;
}

.producto .detalles div:nth-child(even) h3, .producto .detalles div:nth-child(even) p, .training .detalles div:nth-child(odd) h3, .training .detalles div:nth-child(odd) p{
	float: right;
	margin-left: 4%;
    margin-right: 0;
}

.producto .detalles div:nth-child(even) img, .training .detalles div:nth-child(odd) img{
	float: left;
}

.info .content{
	margin: 5% auto;
}

.info .content p{
	line-height: 3.1rem;
	font-family: Helvetica, sans-serif;
	max-width: 750px;
	padding: 0;
}

.info .content h2{
	text-transform: uppercase;
}

.info .content .items{
	margin: 5% 0;
	width: 100%;
}

.info .content .items a{
	background-position: center;
	background-size: cover;
	background-color: #000000;
	padding: 22% 4% 4%;
	width: 100%;
	float: left;
	position: relative;
	z-index: 0;
	margin-bottom: 6%;
	color: #ffffff;
}

.info .content .items a:before{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.9)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
	z-index: -1;
}

.info .content .items a p{
	font-family: inherit;
	color: #ffffff;
	font-size: 3.7rem;
}

.info .content .items a p+p{
	font-size: 2.7rem;
}

.info .content .col-md-4{
	padding: 0;
	margin-left: 10px;
}

.info .content .col-md-12{
	margin: 6% 0;
}
.form-select{
	float: right;
}

.form-select-red{
	float: left;
}

.repuestos .col-md-6 h2{

	line-height: 2rem;
	margin-top: 20px;
}
.img-repuestos{
	width: 104%;
	max-width: 1170px;
	float: left;
	margin: 5% auto 20px -2%;
}
.img-repuestos h2{
	margin-bottom: 3%;
}

.img-repuestos img{
	width: 100vw;
    max-width: 1170px;
    height: 32.5vw;
    max-height: 380px;
    background-color: #000;
}


.det-repuestos{
	float: left;
	width: 65%;
}

.info .content .det-repuestos div{
	background-color: #f6f6f6;
	background-position: center center;
	background-repeat: no-repeat;
	height: 40vw;
	max-height: 290px;
	width: 49%;
	float: left;
	margin-bottom: 2%;
}

.info .content .det-repuestos div:nth-child(odd){
	margin-right: 2%;
}

.list-contenido{
	width: 35%;
	float: left;
}

.info .content .form-contacto{
	float: left;
    width: 90%;
    margin-left: 5%;
    border: 2px solid #000000;
    padding: 4% 8%;
}

.info .content .form-contacto h2{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.info .content .form-contacto p{
	width: 90%;
	margin: 0 auto 6%;
	text-align: center;
}

.info .content .form-contacto input[type=text], .info .content .form-contacto select{
	width: 49%;
	margin-bottom: 2%;
}

.info .content .form-contacto input[type=text]:nth-child(even){
	margin-right: 2%;
}

.info .content .form-contacto input[type=checkbox]{
	margin: 2% 0;
}
.info .content .form-contacto .form-select{
	float: left;
	width: 49%;
}

.info .content .form-contacto .form-select select{
	width: 100%;
}

.info .content .form-contacto textarea{
	min-height: 120px;
}

.info .content .form-contacto input[type=submit]{
	width: 200px;
    left: calc(50% - 100px);
    float: none;
    margin-top: 2%;
    padding: 10px;
}


.noticia .content{
	max-width: 772px;
}

.noticia .content p:first-child{
	margin-top: 50px;
	color: #abbcc4;
}

.noticia .content h1{
	text-transform: uppercase;
	font-size: 2.9rem;
    line-height: 3.6rem;
}

.noticia .content .redes{
	margin-top: 3%;
	text-transform: uppercase;
}

.noticia .content .redes span{
	float: left;
	margin-top: 1%;
}

.noticia .content .noticias img{
	margin: 4% 0;
	width: 100%;
}

.noticia .content .noticias p{
	line-height: 3.2rem;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer{
	width: 100%;
	background-color: #ffffff;
	padding: 3% 1%;
	border-top: 1px solid #dedede;
}

footer hr{
	border-top: 1px solid #ffffff;
}

footer .content, .noticia footer .content{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto !important;
	float: none;
	display: table;
}

footer .content:first-child{
	margin-bottom: 4%;
}

footer .content .col-md-4{
	margin-left: 0 !important;
}

footer .col-md-8{
	padding: 0
}

footer .freightliner{
	margin-top: 0;
	background-image: url(../img/freightliner.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 50%;
	max-width: 190px;
	margin-left: 0;
	height: 38px;
	display: block;
	margin-bottom: 26px;
}

footer .boletin{
	color: #000000;
}

footer .boletin h3{
	text-transform: uppercase;
	font-size: 1.7rem;
}

footer .boletin p{
	font-family: Helvetica, sans-serif;
	font-size: 1.3rem;
    font-weight: 100;
}

footer .boletin form{
	width: 100%;
	max-width: 576px;
	margin-top: 25px;
}

input[type=text], select, textarea, input[type=password]{
	width: 100%;
	padding: 10px 11px 12px;
	border-radius: 3px;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #000000;
    border:1px solid #dedede;
    position: relative;
    background-color: #ffffff;
}

select{
	height: 41px;
	color: #000000;
}

input[type=submit]{
	padding: 8px 25px;
    float: right;
    margin-top: -40px;
    right: 4px;
    position: relative;
    border-radius: 3px;
    border: none;
}
.form-select{
	position: relative;
	margin-bottom: 1.5%;
}

.info-concesionarios .form-select{
	width: 100%;
	max-width: 277px;
	margin-top: 3%;
}

.form-select:after{
	content: "";
	background-image: url(../img/arrow-dropdown.png);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	padding: 18px 20px 19px;
	background-color: #436284;
	color: #ffffff;
	right: 2px;
	top: 2px;
	border-radius: 3px;
	pointer-events: none;
}

.btn-noticias{
	text-align: center;
	margin: 7% auto;
}

.btn-noticias .boton{
	padding: 13px 35px;
	margin: 2% 1% 0;
}
.btn-noticias .boton{
	background-color: #b4c0ce;
}
.btn-noticias .boton:first-child{
	margin: 0 1%;
}

.btn-noticias .boton:hover, .btn-noticias .boton:focus{
	color: #ffffff;
	text-decoration: none;
}

.cargando{
	padding: 10% 0;
    width: 100%;
	text-align: center;
	position: relative;
	text-transform: uppercase;
	display: inherit;
}

.cargando:before{
	content: "";
	position: absolute;
	background-image: url(../img/load-noticias.png);
	background-repeat: no-repeat;
	width: 16px;
	height: 18px;
	left: calc(50% - 8px);
	top: 30%;
}

footer .col-md-4 ul{
	padding: 0;
	float: left;
	width: 50%;
}

footer .col-md-4 ul li{
	list-style: none;
	margin: 0 0 8px;
}

footer .col-md-4 ul li a{
	color: #000000;
	font-size: 1.5rem;
	text-transform: uppercase;
}

footer .col-md-4 ul li a:hover{
	color: #436284;
}

footer .redes a{
	background-position: bottom;
}

footer .redes a:hover{
	background-position: top;
}

footer .daimler{
	background-image: url(../img/daimler.png);
	background-repeat: no-repeat;
	width: 140px;
	height: 17px;
	float: left;
	margin-right: 6%;
}

footer .legales p{
	color: #000000;
	font-family: Helvetica, sans-serif;
	font-weight: 100;
	font-size: 1.3rem;
}

footer .legales a{
	color: #436284;
	text-decoration: underline;
}

footer .legales a:hover{
	color: #436284;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
	background-color: #ffffff;
}

.modal-backdrop.in{
	opacity: 0.8;
}

.modal-repuesto .modal-content{
	border-radius: 0;
}

.modal-repuesto .modal-content .modal-header{
	border-bottom: none;
	padding: 15px 20px;
}
.modal-repuesto .modal-content .modal-header .close, .modal-cotizacion .modal-content .modal-header .close{
	border: 2px solid #436284;
	border-radius: 50%;
	color: #436284;
	opacity: 1;
	width: 32px;
	height: 32px;
}

.modal-repuesto .modal-content .modal-header .close span, .modal-cotizacion .modal-content .modal-header .close span{
	font-family: -webkit-pictograph;
    font-size: 2.7rem;
}

.modal-repuesto .modal-content .modal-header h4{
	text-transform: uppercase;
	font-size: 3.2rem;
}

.modal-repuesto .modal-content .modal-header p{
	font-family: Helvetica, sans-serif;
}

.modal-repuesto .modal-content .modal-header p.pull-right{
	margin-top: -30px;
}

.modal-repuesto .modal-content .modal-body{
	background-color: #f6f6f6;
	text-align: center;
	padding: 30px;
	min-height: 320px;
}

.modal-repuesto .modal-content .modal-body img{
	max-height: 260px;
	max-width: 500px;
}

.modal-repuesto .modal-content .modal-footer{
	border-top: none;
	padding: 15px 20px;
}

.modal-repuesto .modal-content .modal-footer div{
	width: 48%;
	float: left;
	text-align: left;
}

.modal-repuesto .modal-content .modal-footer div:nth-child(odd){
	margin-right: 2%;
}

.modal-repuesto .modal-content .modal-footer div p{
	font-size: 1.4rem;
	text-transform: uppercase;
	margin: 0;
	font-weight: 600;
}

.modal-repuesto .modal-content .modal-footer div p+p{
	font-size: 3rem;
	font-weight: 100;
}

.modal-repuesto .modal-content .modal-footer div p+p+p{
	font-family: Helvetica, sans-serif;
	font-size: 1.5rem;
    text-transform: inherit;
    font-weight: 500;
}

.modal-repuesto .modal-content .modal-footer div+div p{
	font-family: Helvetica, sans-serif;
	font-size: 1.2rem;
    text-transform: inherit;
    font-weight: 100;
    line-height: 2.2rem;
}

.modal-repuesto .modal-arrow{
	width: 130%;
	left: -15%;
	top: 50%;
    position: absolute;
}

.glyphicon-chevron-right:before{
	background-image: url(../img/arrow-right-modal.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 18px;
	height: 32px;
	position: absolute;
    right: 0;
    cursor: pointer;
    content: "";
}

.glyphicon-chevron-left:before{
	background-image: url(../img/arrow-left-modal.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 18px;
	height: 32px;
	position: absolute;
    left: 0;
    cursor: pointer;
    content: "";
}

.modal-login .modal-content{
	max-width: 418px;
	border-radius: 0;
	padding: 6% 1% 3%;
	margin: 0 auto;
}

.modal-login .modal-content h4{
	text-transform: uppercase;
	font-size: 3rem;
	text-align: center;
}

.modal-login .modal-content p{
	text-align: center;
	font-family: Helvetica, sans-serif;
	margin: 3% 0 12%;
}

.modal-login .modal-content form{
	display: inline-block;
}

.modal-login .modal-content form input{
	width: 100%;
	margin: 2% 0;
    right: 0;
}

.modal-cotizacion .modal-dialog{
	width: 100%;
    max-width: 1012px;
    background-image: url(../img/cotizacion.jpg);
    background-position: left;
    background-size: cover;
    display: table;
}

.modal-cotizacion .modal-content{
	max-width: 418px;
	border-radius: 0;
	padding: 0;
	float: right;
}

.modal-cotizacion .modal-content .modal-header{
	border-bottom: none;
}

.modal-cotizacion .modal-content h4{
	text-transform: uppercase;
	font-size: 3rem;
	text-align: center;
	margin-top: 8%;
}

.modal-cotizacion .modal-content p{
	text-align: center;
	font-family: Helvetica, sans-serif;
	margin: 3% 0;
}

.modal-cotizacion .modal-content form{
	display: inline-block;
}

.modal-cotizacion .modal-content form input{
	width: 100%;
	margin: 2% 0;
    right: 0;
}

.modal-cotizacion .modal-content form .form-select{
	float: left;
    width: 49%;
	margin-right: 2%;
}

.modal-cotizacion .modal-content form .form-select + .form-select{
	margin-right: 0;
}

.modal-cotizacion .modal-content form input[type=checkbox]{
	width: 20px;
}

#carousel-repuestos .carousel-control{
	width: 30px;
    height: 15px;
    background-image: none;
    top: 50%;
}

#carousel-repuestos .carousel-control.right{
	right: -15%;
}

#carousel-repuestos .carousel-control.left{
	left: -15%;
}
#gracias .modal-content{
	text-align: center;
}
#gracias .modal-content .boton{
	margin: 0 auto;
	padding: 4% 18%;
}

#gracias .modal-content .boton:hover{
	color: #fff;
	text-decoration: none;
}

.form-contact{
	margin: 10% auto;
	max-width: 700px;
	text-align: center;
}

.form-contact form{
	max-width: 418px;
	margin: 35px auto 0;
}

.form-contact form .red{
	outline: 1px solid #ed1c24;
}

.form-contact form input{
	margin-bottom: 12px;
}

.form-contact form input[type=submit]{
	width: 100%;
	margin-top: 0;
    right: 0;
    padding: 12px;
}

.form-contact form .que-es{
	color: #000000;
	margin-top: 10px;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    position: relative;
    cursor: pointer;
}

.que-es:after{
	content: "?";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px solid #000000;
	font-size: 1rem;
    font-weight: 600;
    line-height: 1.2rem;
    right: -20px;
}

.form-contact form.two-buttons input[type=submit]{
	width: 49%;
	float: left;
	background-color: #436284;
	margin-right: 2%;
}

.form-contact form.two-buttons input[type=submit]+input[type=submit]{
	background-color: #000000;
	margin-right: 0;
}

.ciudades{
	float: left;
    width: 100%;
    padding-left: 0;
    margin-top: 3%;
}

.ciudades li{
	list-style: none;
	padding-left: 0;
}

.ciudades li div{
	width: 33%;
	float: left;
}

.info .content .ciudades li div p{
	line-height: 1.5rem;
}

.contacto{
	max-width: 970px;
}

.contacto .col-sm-6:first-child{
	padding-right: 2.5%;
}

.contacto .col-sm-6 img{
	width: 100%;
}

.contacto form{
	width: 48%;
	float: left;
}

.contacto form p{
	margin-bottom: 3%;
}

.contacto form input, .contacto form select{
	margin-bottom: 2%;
}

.contacto form input[type=checkbox]{
	margin-bottom: 56px;
}

.contacto form input[type=submit]{
	width: 100%;
	right: 0;
}

.contacto form textarea{
	min-height: 80px;
}






@media (max-width: 767px){
	.content{padding: 2%; display: block;}
	.content img{width: 100%;}
	.slider-home, .productos{margin-bottom: 6%;}
	.slider-home .thumbs li{width: 13px; height: 13px; padding: 0; border: none; background-color: #ffffff; margin: 0 5px; background-image: none !important; border-radius: 50%; font-size: 1px; color: transparent;}
	.slider-home .thumbs li:first-child{margin-left:calc(50% - 57px);}
	.slider-home .thumbs li:before{display: none;}
	.slider-home .thumbs li.active{background-color: #436284;}
	.slider-home, .slider-home .carousel-example-generic, .slider-home .carousel-inner, .slider-home .slider, .slider-producto{height: 70vw; overflow: hidden;}
	.slider-home .slider p, .slider-producto p{font-size: 4.8rem; line-height: 5rem; left: 5%;}
	.slider-home .slider img{width: inherit; height: 110vw; margin-left: -40%;}
	.slider-producto .pro-precio{left: 5%; bottom: 29%;}
	.slider-producto .pro-iva{left: 5%; bottom: 23%;}
	.slider-home .slider .boton{left: 5%; bottom: 29%;}
	.productos .col-md-6 h2{font-size: 2.8rem;}
	.productos .col-md-6{width: 100%; margin: 4% 0; height: auto; max-height: inherit;}
	.noticias .col-md-6, .noticias .col-md-3{width: 92%; margin: 4% 4%; height: auto;}
	.noticias .col-md-6 .imagen, .noticias .col-md-3 .imagen{height: 60vw; max-height: 350px;}
	.noticias .col-md-6 .fecha, .noticias .col-md-3 .fecha{font-size: 1.4rem;}
	.noticias .col-md-6 h2, .noticias .col-md-3 h2{font-size: 2.3rem;}
	.concesionarios h2, .repuestos-lighbox h2{font-size: 3.3rem;}
	.concesionarios p{padding: 1% 11% 4%;}
	.repuestos-lighbox .boton{margin-top: 3%; display: inline-block;}
	footer .boletin{display: none;}
	footer .legales{text-align: center;}
	footer .daimler{float: none;margin: 0 auto 4%; display: block;}
	.navbar-header a.freightliner{margin-left: 1%; margin-top: 5%;}
	.contenedor .navbar-header{margin-left: 0; margin-right: 0;}
	.contenedor .navbar-header .navbar-toggle{margin-right: 4%; padding: 0; border: none; margin-top: 29px;}
	.navbar{background: transparent;}
	.navbar-inverse .navbar-toggle .icon-bar{background-color: #436284;}
	.navbar-toggle .icon-bar+.icon-bar{margin-top: 5px;}
	.navbar-header a.btn-productos{position: absolute; top: 25px; right: 64px; font-size: 1.6rem;}
	.navbar-collapse ul{width: 100%;}
	.navbar-collapse ul li{width: 100%; text-align:right; padding: 10px 0; border-bottom: 1px solid #000;}
	.navbar-collapse ul li.expandible{display: none;}
	.navbar-collapse.collapse.in{ margin-left: 0; }
	nav .redes{margin-top: 15px; margin-bottom: 15px;}
	.navbar-fixed-top .navbar-collapse{max-height: 100%;}
	.menu-expandido{top: 0;}
	.menu-expandido:before{display: none;}
	.menu-expandido .tipo{height: 30px;}
	.menu-expandido .tipo li a{padding: 46px 8%; height: 21vw;}
	.menu-expandido .tipo li a p{color: #000;}
	.menu-expandido ul.tipo:before{display: block;}
	.menu-expandido .tipo{width: 100%; margin-top: 0;}
	.menu-expandido .tipo li:hover .opciones, .menu-expandido .tipo li.active .opciones{position: absolute; left: 0; z-index: 2; width: 100%;}
	.menu-expandido .tipo li a p:hover{color: #000000;}
	.menu-expandido .tipo li .opciones li, .menu-expandido .tipo li .opciones li a:hover{border-bottom: 1px solid #dedede; background-color: #fff; position: relative; color: #000000; -webkit-transition: 0.6s; -moz-transition: 0.6s; -o-transition: 0.6s; transition:  }
	.menu-expandido .tipo li .opciones{-webkit-transition: 0.6s; -moz-transition: 0.6s; -o-transition: 0.6s; transition: 0.6s; display: block;}
	.menu-expandido .tipo li .opciones li .detalles{display: none !important;}
	.menu-expandido .tipo li a:hover:after{background-position: top;}
	.menu-expandido .tipo li:hover a p{position: absolute; top: -75px; width: 100%; text-align: center; left: 0; background-color: #ededed; font-size: 2rem; padding:15px 0; z-index: 4;}
	.menu-expandido .tipo li+li:hover a p{top: calc(-30px + -144%); color: #000;}
	.menu-expandido ul.tipo:after~li:hover{display: block;}
	.menu-expandido ul.tipo:after{ content: ""; position: absolute; font-size: 3rem; color: #000000; left: 4%; top: -55px; z-index: 40; background-image: url(../img/arrow-left.svg);background-size: cover; background-position: top center; background-repeat: no-repeat; width: 12px; height: 19px; display: none;}
	.producto .descripcion{width: 100%; padding: 16% 2% 6%;}
	.producto .especificaciones, .producto .detalles h3, .producto .detalles p, .producto .detalles div:nth-child(even) h3, .producto .detalles div:nth-child(even) p, .training .especificaciones, .training .detalles h3, .training .detalles p, .training .detalles div:nth-child(even) h3, .training .detalles div:nth-child(even) p{width: 96%; margin: 2%;}
	.producto .especificaciones .spec{width: 100%;height: 60vw;border-left: 1px solid #dedede; border-right: 1px solid #dedede; border-bottom: 1px solid #dedede;}
	.producto .imagenes div, .training .imagenes div{width: 100%; height: 70vw;}
	.producto .detalles img, .training .detalles img{width: 100%; margin: 0 0 12%;}
	.producto .especificaciones h2{margin: 0;}
	.slider-info h1{font-size: 4.2rem; padding: 0 4%;}
	.info .content .col-md-4{margin-left: 0;}
	.det-repuestos, .list-contenido{width: 96%; padding: 0 5px 10px;}
	.info .content .det-repuestos div{background-size: contain;}
	.modal-repuesto .modal-arrow{ width: 90%; left: 5%; top: inherit; bottom: -30px;}
	.col-md-6{margin: 8% 0;}
	.info .content .form-contacto h2, .info .content .form-contacto p{width: 100%;}
	.info .content .form-contacto input[type=text], .info .content .form-contacto .form-select{width: 100%; margin-top: 3%;}
	.info .content .form-contacto input[type=checkbox]{margin: 4% 0;}
	.slider-info div{display: none;}
	#carousel-repuestos .carousel-control.right{right: 2%; top: inherit; bottom: 50%;}
	#carousel-repuestos .carousel-control.left{left: 2%; top: inherit; bottom: 50%;}
	.glyphicon-chevron-right:before{background-image: url(../img/arrow-right.svg); background-position: top; background-size: cover;}
	.glyphicon-chevron-left:before{background-image: url(../img/arrow-left.svg); background-position: top; background-size: cover;}
	.modal-repuesto .modal-content .modal-body img{max-width: 100%;}
	.form-contact form.two-buttons input[type=submit]{width: 100%; margin-right: 0;}
	.ciudades li div{width: 100%; margin-bottom: 15px;}
	.contacto .col-sm-6:first-child{max-height: 200px; overflow: hidden;}
	.contacto .col-sm-6 img{margin-top: -45%;}
	.contacto form{width: 100%; margin-top: 3%;}
	.slider-historia .slider div:first-child{width: 100%; height: 160vw; max-height: 680px;}
	.slider-historia .slider div:first-child:after{content: ""; position: absolute; width: 100%; height: 100%; background-color: #000000; opacity: 0.5; left: 0 top:0;}
	.slider-historia .slider div:nth-child(2){width: 82%; bottom: 7%;}
	.slider-historia .slider div h2{font-size: 8rem;}
	.concesionarios{margin: 0;}
	.slider-home .thumbs li.active:after{display: none;}
	.info .content .col.sm-6 h2, .info .content .col.sm-6 p{text-align: left;}
	.info .content .list-contenido p{margin: 0;}
	.menu-close{position: absolute; font-size: 3rem; color: #000000; left: 4%; top: -55px; z-index: 20; background-image: url(../img/arrow-left.svg);background-size: cover; background-position: top center; background-repeat: no-repeat; width: 12px; height: 19px;}
	.info .content .text-right h2, .info .content .text-right p{text-align: left !important;}
	.btn-noticias .boton{display: block;}
	.menu-expandido .tipo li a:hover:before{background-color: rgba(255, 255, 255, 0.5);}
	.repuestos{margin-left: -2%;}
	.repuestos .col-sm-6{padding: 0 5px;}

}

@media (max-width: 1024px){
	.producto .especificaciones .spec p, .producto .especificaciones .spec p+p{font-size: 1.1rem;}
	.producto .especificaciones .spec img{height: 44%;}
}

/*************************************************************/
.form-contacto-2{
	float: left;
	width: 50%;
	padding-left: 15px;
}
@media (max-width: 760px){
	.form-contacto-2{
		width: 100%;
		margin: 0;
	}
}
@media (min-width: 761px) and (max-width: 991px){
	.form-contacto-2{
		width: 80%;
		margin: 0 10%;
	}
}
.form-contacto-2 p{
	margin-top: 4%;
}
.form-contacto-2 input[type='text'],
.form-contacto-2 input[type='email'],
.form-contacto-2 input[type='tel'],
.form-contacto-2 input[type='submit'],
.form-contacto-2 .form-select
{
	width: 100%;
	margin-top: 2%;
}
.form-contacto-2 input[type='checkbox']{

	margin-top: 4%;
}
.form-contacto-2 input[type='submit']{
	width: 100%;
	margin-top: 4%;
}
.form-contacto-2 label{
	display: inline;
	font-weight: normal;
}
input[type=email],input[type=tel]{
	width: 100%;
	padding: 10px 11px 12px;
	border-radius: 3px;
	font-size: 1.4rem;
	text-transform: uppercase;
	color: #000000;
	border:1px solid #dedede;
	position: relative;
	background-color: #ffffff;
}
.msj-form{
	display: none;
}
/***Carousel***/
.info .carousel .carousel-indicators{
	left: 134px;width: 40%;margin-left: 0;text-align: left;
}
.info .carousel .carousel-inner .item .texto-slide{
	width: 40%; display: inline-block;height: 660px; padding-left: 134px; background-color: #446284; padding-right: 20px
}
.info .carousel .carousel-inner .item .texto-slide h2{
	color: #fff;margin-top: 300px; font-size: 100px;
}
.info .carousel .carousel-inner .item .texto-slide p{
	color: #fff;margin-top: 22px; font-size: 18px;
}
.info .carousel .carousel-inner .item .img-slide{
	width: 60%; display: inline-block;position: absolute;
	height: 100%;
	background-size: cover!important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}
@media (max-width: 1360px){
	.info .carousel .carousel-inner .item .texto-slide h2{
		margin-top: 250px;
	}
	.info .carousel .carousel-inner .item .texto-slide{
		padding-left: 90px;
	}
	.info .carousel .carousel-indicators {
		left: 90px;
	}
}
@media (max-width: 1140px){
	.info .carousel .carousel-inner .item .texto-slide h2{
		margin-top: 200px;
	}
	.info .carousel .carousel-inner .item .texto-slide{
		padding-left: 50px;
	}
	.info .carousel .carousel-indicators {
		left: 50px;
	}
}
@media (max-width: 991px){
	.info .carousel .carousel-inner .item .texto-slide h2{
		margin-top: 60px;
	}
	.info .carousel .carousel-inner .item .img-slide {
		width: 50%;
	}
	.info .carousel .carousel-inner .item .texto-slide{
		width: 50%;
		padding-left: 50px;
		padding-bottom: 70px;
		height: auto;
	}
	.info .carousel .carousel-indicators {
		width: 50%;
		left: 50px;
	}
}
@media (max-width: 619px){
	.info .carousel .carousel-inner .item .img-slide {
		width: 100%;
		height: 400px;
		position: relative;
	}
	.info .carousel .carousel-inner .item .texto-slide{
		width: 100%;
		padding-bottom: 10px;
	}
	.info .carousel .carousel-inner .item .texto-slide h2{
		margin-top: 20px;
	}
}
.default-box{
	max-width: 418px;
	margin: 35px auto 0;
}
.boton-medio{
	width: 48%;
	float: left;
	margin: 0 1%;
	padding: 12px;
}
.boton-negro{
	background-color: #000000;
}
.boton-medio:hover{
	color: #fff;
    text-decoration: none;
	cursor: pointer;
}
.form-contact form.two-buttons input[type=submit] {
	width: 48%;
}
.caja-codigo{
	display: block;
	margin-top: 40px;

	margin: 35px auto 0;
}
.not-active{
	background-color: #436284!important;
}
.noticias .col-md-3 h2 {
	height: 69px;
	overflow: hidden;
}
.hidden-may-sm{
	display: none;
}

@media (max-width: 767px) {
	.hidden-sm{
		display: none;
	}
	.hidden-may-sm{
		display: block;
	}
	.img-repuestos-mobile{
		padding: 0 17px;
		width: 100%;
		height: 269px;
		background: url("../img/cl120.jpg") center no-repeat;
		background-size: cover;
	}
	.det-repuestos>div{
		width: 100%!important;
		height: 220px!important;
		margin: 29px 10px;
	}
}
/*************************************************************/





























