{% extends 'base_admin.html.twig' %}
{# TODO Cabiar nomPagina #}
{% set nomPagina = 'VIN: '~registro.codigo.codigo~' - fecha: '~registro.fecha|date %}
{% block pagina %}{{ nomPagina }}{% endblock %}
{% block ubicacion %}
    <li><a href="{{ path('admin_registros') }}">Registros</a></li>
    <li class="active">{{ nomPagina }}</li>
{% endblock %}

{% block content %}

    {% if error is defined and error != null %}
        <div class="alert alert-danger alert-dismissible fade in">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <b>ERROR:</b> {{ error }}.
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Id</label>
                        <div class="col-md-4">
                            <p class="form-control-static">{{ registro.id }}</p>
                        </div>
                        <label class="col-sm-2 control-label">Fecha</label>
                        <div class="col-md-4">
                            <p class="form-control-static">{{ registro.fecha|date }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombres</label>
                        <div class="col-md-4">
                            <p class="form-control-static">{{ registro.nombres }}</p>
                        </div>
                        <label class="col-sm-2 control-label">Apellidos</label>
                        <div class="col-md-4">
                            <p class="form-control-static">{{ registro.apellidos }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Correo</label>
                        <div class="col-md-4">
                            <p class="form-control-static">{{ registro.correo }}</p>
                        </div>
                        <label class="col-sm-2 control-label">Telefono</label>
                        <div class="col-md-4">
                            <p class="form-control-static">{{ registro.telefono }}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}