<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
        body{
            width: 100%;
            background-color: #ffffff;
            margin:0;
            padding:0;
            -webkit-font-smoothing: antialiased;
            mso-margin-top-alt:0px; mso-margin-bottom-alt:0px; mso-padding-alt: 0px 0px 0px 0px;
        }
        p,h1,h2,h3,h4{
            margin-top:0;
            margin-bottom:0;
            padding-top:0;
            padding-bottom:0;
        }
        span.preheader{display: none; font-size: 1px;}
        html{
            width: 100%;
        }
        table{
            font-size: 14px;
            border: 0;
        }
        /* ----------- responsivity ----------- */
        @media only screen and (max-width: 640px){
            /*------ top header ------ */
            body[yahoo] .main-section-header{font-size: 34px !important; line-height: 30px !important; }
            body[yahoo] .main-header{font-size: 24px !important; line-height: 30px !important;}
            body[yahoo] .show{display: block !important;}
            body[yahoo] .hide{display: none !important;}
            body[yahoo] .align-center{text-align: center !important;}
            /*----- main image -------*/
            body[yahoo] .main-image img{width: 440px !important; height: auto !important;}
            /* ====== divider ====== */
            body[yahoo] .divider img{width: 440px !important;}
            /*--------- banner ----------*/
            body[yahoo] .banner img{width: 440px !important; height: auto !important;}
            /*-------- container --------*/
            body[yahoo] .container590{width: 440px !important;}
            body[yahoo] .container580{width: 400px !important;}
            body[yahoo] .half-container{width: 380px !important;}
            /*-------- secions ----------*/
            body[yahoo] .section-item{width: 440px !important;}
            body[yahoo] .section-img img{width: 440px !important; height: auto !important;}
        }
        @media only screen and (max-width: 479px){
            /*------ top header ------ */
            body[yahoo] .main-section-header{font-size: 30px !important; line-height: 30px !important;}
            body[yahoo] .main-header{font-size: 20px !important; line-height: 30px !important;}
            /*----- main image -------*/
            body[yahoo] .main-image img{width: 280px !important; height: auto !important;}
            /* ====== divider ====== */
            body[yahoo] .divider img{width: 280px !important;}
            body[yahoo] .align-center{text-align: center !important;}
            /*--------- banner ----------*/
            body[yahoo] .banner img{width: 280px !important; height: auto !important;}
            /*-------- container --------*/
            body[yahoo] .container590{width: 280px !important;}
            body[yahoo] .container580{width: 260px !important;}
            body[yahoo] .wide-iphone{width: 210px !important;}
            body[yahoo] .half-container{width: 210px !important;}
            /*-------- secions ----------*/
            body[yahoo] .section-item{width: 280px !important;}
            body[yahoo] .section-item-iphone{width: 280px !important;}
            body[yahoo] .section-img img{width: 280px !important; height: auto !important;}
            body[yahoo] .section-iphone-img img{width: 280px !important; height: auto !important;}
            /*------- CTA -------------*/
            body[yahoo] .cta-btn img{width: 260px !important; height: auto !important;}
        }
    </style>
</head>
<body yahoo="fix" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<!-- ======= main section ====== -->
<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="f7f8f9" class="main_color" mc:repeatable="promail" mc:variant="main section">
    <tr>
        <td style="background-image: url(http://phpstack-120818-358617.cloudwaysapps.com/img/mails/Photo-welcome.jpg); background-size: cover; background-position: center center; background-repeat: no-repeat;" background="img/main-bg.png">

            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">

                <tr class="hide"><td height="160" style="font-size: 55px; line-height: 55px;">&nbsp;</td></tr>

                <tr>
                    <td align="center" mc:edit="main-header" style="color: #FFFFFF;	font-family: 'Helvetica Neue', sans-serif;	font-size: 39px;	font-weight: 600;	line-height: 50px; mso-line-height-rule: exactly;" class="main-section-header align-center">
                        <div>
                            <multiline>
                                BIENVENIDO A FREIGHTLINER
                            </multiline>
                        </div>
                    </td>
                </tr>
                <tr class="hide"><td height="10" style="font-size: 20px; line-height: 20px;">&nbsp;</td></tr>
                <tr>
                    <td align="center" mc:edit="main-text" style="color: #ffffff; font-size: 18px; font-family: Helvetica, sans-serif; font-weight: 300; line-height: 32px;" class="align-center">
                        <div style="line-height: 32px">
                            <multiline>
                                Se acaba de unir a la comunidad virtual de Freightliner, la marca líder en el transporte de carga pesada de América.
                            </multiline>
                        </div>
                    </td>
                </tr>

                <tr class="hide"><td height="160" style="font-size: 30px; line-height: 30px;">&nbsp;</td></tr>

            </table>
        </td>
    </tr>
</table>
<!-- ======= end main section ====== -->

<!-- ======= large image with headline and text ======= -->
<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="" class="bg_color" mc:repeatable="promail" mc:variant="large image with headline and text">

    <tr><td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td></tr>

    <tr>
        <td>
            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="container590 bg_color" style="border: solid 1px #e3e8eb;">

                <tr><td height="60" style="font-size: 25px; line-height: 25px;">&nbsp;</td></tr>

                <tr>
                    <td align="center" mc:edit="about-subtitle" style="color: #30333a; font-size: 22px; font-family: 'Montserrat', sans-serif; mso-line-height-rule: exactly; line-height: 24px;" class="text_color">

                        <!-- ======= main text ======= -->

                        <div style="color: #000000;	font-family: 'Helvetica Neue', sans-serif;font-size: 25px;font-weight: 500;line-height: 0;">
                            <multiline>
                                Construcción en movimiento
                            </multiline>
                        </div>
                    </td>

                </tr>

                <tr><td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td></tr>

                <tr>
                    <td align="center">
                        <table border="0" align="center" cellpadding="0" cellspacing="0" class="container590">
                            <tr>

                                <td align="center" mc:edit="about-text" style="color: #000; font-size: 14px; font-family: 'Montserrat', sans-serif; mso-line-height-rule: exactly; line-height: 24px; padding: 0 40px" class="text_color">
                                    <div style="line-height: 24px">

                                        <!-- ======= section text ======= -->

                                        <multiline>
                                            Contamos con un portafolio de productos dedicados a la construcción y minería, especial para negocios de transporte de productos de cantera, gravilla, arena, carbón, mineral de hierro u otros agregados y/o minerales por vías agrestes o terrenos difíciles.
                                        </multiline>
                                    </div>
                                </td>
                            </tr>

                            <tr><td height="15" style="font-size: 15px; line-height: 15px;">&nbsp;</td></tr>

                            <tr><td height="40" style="font-size: 40px; line-height: 40px;">&nbsp;</td></tr>

                            <tr>
                                <td align="center" class="section-img">
                                    <a href="" style=" border-style: none !important; border: 0 !important;">
                                        <img editable="true" mc:edit="about-image" src="http://phpstack-120818-358617.cloudwaysapps.com/img/mails/Photo-construction.jpg" style="display: block; width: 100%;" border="0" alt="section image"/>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>

    <tr><td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td></tr>

</table>
<!-- ======= end section ======= -->

<!-- ======= large image with headline and text ======= -->
<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="" class="bg_color" mc:repeatable="promail" mc:variant="large image with headline and text">

    <tr><td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td></tr>

    <tr>
        <td>
            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="container590 bg_color" style="border: solid 1px #e3e8eb;">

                <tr><td height="60" style="font-size: 25px; line-height: 25px;">&nbsp;</td></tr>

                <tr>
                    <td align="center" mc:edit="about-subtitle" style="color: #30333a; font-size: 22px; font-family: 'Montserrat', sans-serif; mso-line-height-rule: exactly; line-height: 24px;" class="text_color">

                        <!-- ======= main text ======= -->

                        <div style="color: #000000;	font-family: 'Helvetica Neue', sans-serif;font-size: 25px;font-weight: 500;line-height: 0;">
                            <multiline>
                                Carga en movimiento
                            </multiline>
                        </div>
                    </td>

                </tr>

                <tr><td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td></tr>

                <tr>
                    <td align="center">
                        <table border="0" align="center" cellpadding="0" cellspacing="0" class="container590">
                            <tr>

                                <td align="center" mc:edit="about-text" style="color: #000; font-size: 14px; font-family: 'Montserrat', sans-serif; mso-line-height-rule: exactly; line-height: 24px; padding: 0 40px" class="text_color">
                                    <div style="line-height: 24px">

                                        <!-- ======= section text ======= -->

                                        <multiline>
                                            Nuestro portafolio de productos cuenta con vehículos diseñados para lograr máxima eficiencia, mejor desempeño, disponibilidad del vehículo y excelencia operativa para el transporte de mercancías dentro de estrictos tiempos de entrega en medianas y largas distancias.
                                        </multiline>
                                    </div>
                                </td>
                            </tr>

                            <tr><td height="15" style="font-size: 15px; line-height: 15px;">&nbsp;</td></tr>

                            <tr><td height="40" style="font-size: 40px; line-height: 40px;">&nbsp;</td></tr>

                            <tr>
                                <td align="center" class="section-img">
                                    <a href="" style=" border-style: none !important; border: 0 !important;">
                                        <img editable="true" mc:edit="about-image" src="http://phpstack-120818-358617.cloudwaysapps.com/img/mails/Photo-carga.jpg" style="display: block; width: 100%;" border="0" alt="section image"/>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>

    <tr><td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td></tr>

</table>
<!-- ======= end section ======= -->

<!-- ======= footer ======= -->
<table border="0" width="100%" cellpadding="0" cellspacing="0">

    <tr>
        <td>
            <table border="0" align="center" width="700" cellpadding="0" cellspacing="0" class="container590">

                <tr><td height="19" style="font-size: 19px; line-height: 19px;">&nbsp;</td></tr>

                <tr>
                    <td>
                        <table border="0" width="378" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container580">
                            <tr>
                                <td>
                                    <table border="0" align="left" width="80" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">
                                        <tr>
                                            <td align="left">
                                                <table border="0" cellpadding="0" cellspacing="0" align="center">
                                                    <tr>
                                                        <!-- ======= logo ======= -->
                                                        <td align="center" style="line-height: 30px;">
                                                            <a href="" style="border-style: none !important; border: 0 !important;">
                                                                <img editable="true" mc:edit="logo2" border="0" style="display: block; width: 182px; height: 38px;" src="http://phpstack-120818-358617.cloudwaysapps.com/img/mails/Logo-footer.png" alt="logo" />
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>

                                    <table border="0" width="2" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">
                                        <tr><td width="2" height="30" style="font-size: 30px; line-height: 30px;"></td></tr>
                                    </table>


                                </td>
                            </tr>
                        </table>

                        <table border="0" width="2" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">
                            <tr><td width="2" height="30" style="font-size: 30px; line-height: 30px;"></td></tr>
                        </table>

                        <table border="0" align="right" cellpadding="0" cellspacing="0" class="container590">
                            <tr><td height="3" style="font-size: 3px; line-height: 3px;">&nbsp;</td></tr>
                            <tr>
                                <td align="center">
                                    <table border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <a style="display: block; width: 30px; height: 30px; border-style: none !important; border: 0 !important;" href="#"><img editable="true" mc:edit="facebook" width="21" height="30" border="0" style="display: block; width: 30px; height: 30px;" src="http://phpstack-120818-358617.cloudwaysapps.com/img/mails/Facebook-icon.png" alt="facebook" /></a>
                                            </td>
                                            <td>&nbsp;&nbsp;</td>
                                            <td>
                                                <a style="display: block; width: 30px; height: 30px; border-style: none !important; border: 0 !important;" href="#"><img editable="true" mc:edit="instagram" width="21" height="30" border="0" style="display: block; width: 30px; height: 30px;" src="http://phpstack-120818-358617.cloudwaysapps.com/img/mails/Instagram-icon.png" alt="google" /></a>
                                            </td>
                                            <td>&nbsp;&nbsp;</td>
                                            <td>
                                                <a style="display: block; width: 30px; height: 30px; border-style: none !important; border: 0 !important;" href="#"><img editable="true" mc:edit="youtube" width="21" height="30" border="0" style="display: block; width: 30px; height: 30px;" src="http://phpstack-120818-358617.cloudwaysapps.com/img/mails/Youtube-icon.png" alt="twitter" /></a>
                                            </td>
                                            <td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>

                <tr><td height="50" style="font-size: 25px; line-height: 25px;">&nbsp;</td></tr>

                <tr>
                    <td align="center" mc:edit="main-text" style="color: #000; font-family: Helvetica, sans-serif;	font-size: 14px;	line-height: 22px;" class="align-center">
                        <div style="line-height: 32px">
                            <multiline>
                                Todos los derechos reservados - Daimler Colombia S.A. 2017 - <a href="">Términos y condiciones</a>
                            </multiline>
                        </div>
                    </td>
                </tr>
                <tr><td height="28" style="font-size: 25px; line-height: 25px;">&nbsp;</td></tr>

            </table>
        </td>
    </tr>
</table>
<!-- ======= end footer ======= -->

</body>
</html>