<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
        body{
            width: 100%;
            background-color: #ffffff;
            margin:0;
            padding:0;
            -webkit-font-smoothing: antialiased;
            mso-margin-top-alt:0px; mso-margin-bottom-alt:0px; mso-padding-alt: 0px 0px 0px 0px;
        }
        p,h1,h2,h3,h4{
            margin-top:0;
            margin-bottom:0;
            padding-top:0;
            padding-bottom:0;
        }
        span.preheader{display: none; font-size: 1px;}
        html{
            width: 100%;
        }
        table{
            font-size: 14px;
            border: 0;
        }
        /* ----------- responsivity ----------- */
        @media only screen and (max-width: 640px){
            /*------ top header ------ */
            body[yahoo] .main-section-header{font-size: 34px !important; line-height: 30px !important; }
            body[yahoo] .main-header{font-size: 24px !important; line-height: 30px !important;}
            body[yahoo] .show{display: block !important;}
            body[yahoo] .hide{display: none !important;}
            body[yahoo] .align-center{text-align: center !important;}
            /*----- main image -------*/
            body[yahoo] .main-image img{width: 440px !important; height: auto !important;}
            /* ====== divider ====== */
            body[yahoo] .divider img{width: 440px !important;}
            /*--------- banner ----------*/
            body[yahoo] .banner img{width: 440px !important; height: auto !important;}
            /*-------- container --------*/
            body[yahoo] .container590{width: 440px !important;}
            body[yahoo] .container580{width: 400px !important;}
            body[yahoo] .half-container{width: 380px !important;}
            /*-------- secions ----------*/
            body[yahoo] .section-item{width: 440px !important;}
            body[yahoo] .section-img img{width: 440px !important; height: auto !important;}
        }
        @media only screen and (max-width: 479px){
            /*------ top header ------ */
            body[yahoo] .main-section-header{font-size: 30px !important; line-height: 30px !important;}
            body[yahoo] .main-header{font-size: 20px !important; line-height: 30px !important;}
            /*----- main image -------*/
            body[yahoo] .main-image img{width: 280px !important; height: auto !important;}
            /* ====== divider ====== */
            body[yahoo] .divider img{width: 280px !important;}
            body[yahoo] .align-center{text-align: center !important;}
            /*--------- banner ----------*/
            body[yahoo] .banner img{width: 280px !important; height: auto !important;}
            /*-------- container --------*/
            body[yahoo] .container590{width: 280px !important;}
            body[yahoo] .container580{width: 260px !important;}
            body[yahoo] .wide-iphone{width: 210px !important;}
            body[yahoo] .half-container{width: 210px !important;}
            /*-------- secions ----------*/
            body[yahoo] .section-item{width: 280px !important;}
            body[yahoo] .section-item-iphone{width: 280px !important;}
            body[yahoo] .section-img img{width: 280px !important; height: auto !important;}
            body[yahoo] .section-iphone-img img{width: 280px !important; height: auto !important;}
            /*------- CTA -------------*/
            body[yahoo] .cta-btn img{width: 260px !important; height: auto !important;}
        }
    </style>
</head>
<body yahoo="fix" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<!-- ======= main section gracias ====== -->
<table border="0" width="100%" cellpadding="0" cellspacing="0" class="main_color" mc:repeatable="promail" mc:variant="main section">
    <tr>
        <td style="background-color: #F5F5F5;">

            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">

                <tr class="hide"><td height="180" style="font-size: 55px; line-height: 55px;">&nbsp;</td></tr>

                <tr>
                    <td align="center" mc:edit="main-header" style="color: #000; font-family: 'Helvetica Neue', sans-serif; mso-line-height-rule: exactly; font-size: 40px;	font-weight: 600;	line-height: 50px;" class="main-section-header align-center">
                        <div style="line-height: 83px">
                            <multiline>
                                GRACIAS POR ESCRIBIRNOS
                            </multiline>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" mc:edit="main-text" style="color: #000; font-family: Helvetica, sans-serif;	font-size: 14px;	line-height: 22px;" class="align-center">
                        <div style="line-height: 32px">
                            <multiline>
                                <b>{{ nombre }}</b>, ¡Muchas gracias por comunicarse con nosotros! Sus preguntas y comentarios son muy importantes para nosotros, tan pronto como nos sea posible nos comunicaremos con usted.
                            </multiline>
                        </div>
                    </td>
                </tr>



                <tr>
                    <td align="center" height="120">
                        <table border="0" align="center" cellpadding="0" cellspacing="0" class="container590">
                            <tr>
                                <td align="center">

                                    <table border="0" align="center" width="300" cellpadding="0" cellspacing="0" style="">

                                        <tr><td height="10" style="font-size: 10px; line-height: 0px;">&nbsp;</td></tr>

                                        <tr>
                                            <td align="center">
                                                <table border="0" align="center" cellpadding="4px" cellspacing="0">
                                                    <tr>
                                                        <td align="center" style="background-color: #436284; padding: 15px 30px; border-radius: 4px" mc:edit="main-button">
                                                            <!-- ======= main section button ======= -->

                                                            <div style="line-height: 0;">
                                                                <a href="http://freightliner.com.co" style="color: #FFFFFF;font-family: Industry, sans-serif;font-size: 14px;font-weight: 600;line-height: 14px;text-decoration: none;">
                                                                    <singleline>SEGUIR NAVEGANDO</singleline>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr class="hide"><td height="144" style="font-size: 30px; line-height: 30px;">&nbsp;</td></tr>

            </table>
        </td>
    </tr>
</table>
<!-- ======= end main section ====== -->

<!-- ======= footer ======= -->
<table border="0" width="100%" cellpadding="0" cellspacing="0">

    <tr>
        <td>
            <table border="0" align="center" width="700" cellpadding="0" cellspacing="0" class="container590">

                <tr><td height="19" style="font-size: 19px; line-height: 19px;">&nbsp;</td></tr>

                <tr>
                    <td>
                        <table border="0" width="378" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container580">
                            <tr>
                                <td>
                                    <table border="0" align="left" width="80" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">
                                        <tr>
                                            <td align="left">
                                                <table border="0" cellpadding="0" cellspacing="0" align="center">
                                                    <tr>
                                                        <!-- ======= logo ======= -->
                                                        <td align="center" style="line-height: 30px;">
                                                            <a href="" style="border-style: none !important; border: 0 !important;">
                                                                <img editable="true" mc:edit="logo2" border="0" style="display: block; width: 182px; height: 38px;" src="http://phpstack-120818-358617.cloudwaysapps.com/img/mails/Logo-footer.png" alt="logo" />
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>

                                    <table border="0" width="2" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">
                                        <tr><td width="2" height="30" style="font-size: 30px; line-height: 30px;"></td></tr>
                                    </table>


                                </td>
                            </tr>
                        </table>

                        <table border="0" width="2" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">
                            <tr><td width="2" height="30" style="font-size: 30px; line-height: 30px;"></td></tr>
                        </table>

                        <table border="0" align="right" cellpadding="0" cellspacing="0" class="container590">
                            <tr><td height="3" style="font-size: 3px; line-height: 3px;">&nbsp;</td></tr>
                            <tr>
                                <td align="center">
                                    <table border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <a style="display: block; width: 30px; height: 30px; border-style: none !important; border: 0 !important;" href="#"><img editable="true" mc:edit="facebook" width="21" height="30" border="0" style="display: block; width: 30px; height: 30px;" src="http://phpstack-120818-358617.cloudwaysapps.com/img/mails/Facebook-icon.png" alt="facebook" /></a>
                                            </td>
                                            <td>&nbsp;&nbsp;</td>
                                            <td>
                                                <a style="display: block; width: 30px; height: 30px; border-style: none !important; border: 0 !important;" href="#"><img editable="true" mc:edit="instagram" width="21" height="30" border="0" style="display: block; width: 30px; height: 30px;" src="http://phpstack-120818-358617.cloudwaysapps.com/img/mails/Instagram-icon.png" alt="google" /></a>
                                            </td>
                                            <td>&nbsp;&nbsp;</td>
                                            <td>
                                                <a style="display: block; width: 30px; height: 30px; border-style: none !important; border: 0 !important;" href="#"><img editable="true" mc:edit="youtube" width="21" height="30" border="0" style="display: block; width: 30px; height: 30px;" src="http://phpstack-120818-358617.cloudwaysapps.com/img/mails/Youtube-icon.png" alt="twitter" /></a>
                                            </td>
                                            <td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>

                <tr><td height="50" style="font-size: 25px; line-height: 25px;">&nbsp;</td></tr>

                <tr>
                    <td align="center" mc:edit="main-text" style="color: #000; font-family: Helvetica, sans-serif;	font-size: 14px;	line-height: 22px;" class="align-center">
                        <div style="line-height: 32px">
                            <multiline>
                                Todos los derechos reservados - Daimler Colombia S.A. 2017 - <a href="">Términos y condiciones</a>
                            </multiline>
                        </div>
                    </td>
                </tr>
                <tr><td height="28" style="font-size: 25px; line-height: 25px;">&nbsp;</td></tr>

            </table>
        </td>
    </tr>
</table>
<!-- ======= end footer ======= -->

</body>
</html>