{% extends "@templates/base.html.twig" %}

{% block title 'Contáctanos ahora mismo | Camiones Freightliner Colombia' %}

{% block metas %}
    {{ parent() }}
    <meta name="description" content="Ponte en contacto con nosotros y comparte tus dudas y sugerencias para recibir una asesoría personalizada con nuestros asesores de servicio.">
    <meta name="keywords" content="camiones, Freightliner, volcos, volquetas, tractos, tractocamiones, Bogotá, Colombia, venta de camiones, vehículos comerciales, carga pesada, vehículos para construcción, vehículos mineros, vehículos terrenos difíciles">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="revisit-after" content="30 days">
    <meta name="author" content="Freightliner Colombia">
    <meta property="og:url"                content="http://freightliner.com.co/contacto.php" />
    <meta property="og:title"              content="Contáctanos ahora | Freightliner Colombia " />
    <meta property="og:description"        content="Ponte en contacto con nosotros y comparte tus dudas y sugerencias para recibir una asesoría personalizada con nuestros asesores de servicio." />
    <meta property="og:image"              content="http://freightliner.com.co/tags/contacto.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@colfreightliner">
    <meta name="twitter:title" content="Contáctanos ahora mismo | Camiones Freightliner Colombia">
    <meta name="twitter:description" content="Ponte en contacto con nosotros y comparte tus dudas y sugerencias para recibir una asesoría personalizada con nuestros asesores de servicio.">
    <meta name="twitter:image" content="http://freightliner.com.co/tags/contacto.jpg">

{% endblock %}

{% block content %}
    <div class="slider-info">
        <h1>CONTÁCTENOS</h1>
    </div>

    <div class="content">
        <img src="img/assets/contacto/contact-photo.jpg" class="col-md-6 hidden-sm hidden-xs">

        <form action="libs/enviar-contacto.php" method="post" class="form-contacto-2" id="formContacto">
            <p>Si desea recibir asesoría completa de algún producto o servicio, lo invitamos a completar el siguiente
                formulario y un asesor de servicio se pondrá en contacto en el menor tiempo posible, o comuníquese
                a los siguientes números telefónicos:(1) 7426850 / 3162801318</p>

            <input type="text" name="nombre" id="nombre" placeholder="Nombre completo" required>
            <input type="email" name="correo" id="correo" placeholder="Escriba su Correo electrónico" required>
            <input type="tel" name="telefono" id="telefono" placeholder="Teléfono de contacto" required>
            <div class="form-select">
              <select id="ciudad" name="ciudad" required>
                <option value="000">Ciudad</option>
              </select>
            </div>
            <div class="form-select">
              <select id="concesionario" name="concesionario" required>
                <option value="000">Concesionario</option>
              </select>
            </div>
            <div class="form-select">
                <select name="producto" id="producto" required>
                    <option value="Cascadia">Cascadia</option>
                    <option value="M2 106 MINIMULA">M2 106 MINIMULA</option>
                    <option value="M2 106 4X2 LARGO">M2 106 4X2 LARGO</option>
                    <option value="M2 106 6X4 LARGO">M2 106 6X4 LARGO</option>
                    <option value="M2 106">M2 106</option>
                    <option value="M2 112">M2 112</option>
                    <option value="Cascadia ISX Euro 5">Cascadia ISX Euro 5</option>
                    <option value="M2 106 Minimula ISL">M2 106 Minimula ISL</option>
                    <option value="M2 106 4X2 Largo">M2 106 4X2 Largo</option>
                    <option value="M2 106 6X4 Largo">M2 106 6X4 Largo</option>
                    <option value="M2 106 Volco 6X4">M2 106 Volco 6X4</option>
                    <option value="M2 112 Volco">M2 112 Volco</option>
                </select>
            </div>
            <div class="form-select" >
                            <select name="mediointeres"  id="mediointeres" required>
                                <option value="0">Medio de interés</option>
                            <option value="Facebook">Facebook</option>
                            <option value="Instagram">Instagram</option>
                            <option value="Pagina Web">Pagina web</option>
                            <option value="Otro">Otro</option>
                            </select>
                        </div>
            <textarea name="comentarios" id="comentarios" placeholder="Comentarios" required></textarea>
            <input type="checkbox" name="vehicle" value="Bike" id="check" required><label for="check"> Autorizo tratamiento de datos personales</label><br>
            <input type="submit" value="Enviar" id="submitContacto" class="boton" >
            <p id="msjContacto"></p>
        </form>

    </div>

{% endblock %}


{% block javascripts %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script>
   $(document).ready(function(){
     var myJson = {
"ciudad": [
  {
      "name": "Barranquilla",
      "id": "barranquilla",
      "concesionario": [
          {
              "name": "Alemana Automotriz",
              "id": "Alemana Automotriz ",
          }
      ]
  },
  {
      "name": "Bogotá",
      "id": "bogota",
      "concesionario": [
          {
              "name": "Motorysa Av. 68",
              "id": "Motorysa Av 68",
          },
          {
              "name": "Motorysa Calle 80",
              "id": "Motorysa Calle 80",
          }
      ]
  },
  {
      "name": "Bucaramanga",
      "id": "bucaramanga",
      "concesionario": [
          {
              "name": "Motoreste Motors S.A.",
              "id": "Motoreste Motors S.A.",
          }
      ]
  },
  {
      "name": "Cali",
      "id": "cali",
      "concesionario": [
          {
              "name": "Andina Motors S.A.S.",
              "id": "Andina Motors S.A.S.",
          }
      ]
  },
  {
      "name": "Boyacá",
      "id": "boyaca",
      "concesionario": [
          {
              "name": "Motorysa",
              "id": "Motorysa boyaca",
          }
      ]
  },
  {
      "name": "Ibagué",
      "id": "ibague",
      "concesionario": [
          {
              "name": "Motorysa",
              "id": "Motorysa ibague",
          }
      ]
  },
  {
      "name": "Medellín",
      "id": "medellin",
      "concesionario": [
          {
              "name": "Alemautos S.A.",
              "id": "Alemautos S.A.",
          }
      ]
  },
  {
      "name": "Montería",
      "id": "montería",
      "concesionario": [
          {
              "name": "Alemautos S.A.",
              "id": "Alemautos S.A.",

          }
      ]
  },
  {
      "name": "Pereira",
      "id": "pereira",
      "concesionario": [
          {
              "name": "Andes Motors S.A.S.",
              "id": "Andes Motors S.A.S."
          }
      ]
  }
]
}



$.each(myJson.ciudad, function (index, value) {
$("#ciudad").append('<option value="'+value.id+'">'+value.name+'</option>');
});

$('#ciudad').on('change', function(){
console.log($(this).val());
for(var i = 0; i < myJson.ciudad.length; i++)
{
if(myJson.ciudad[i].id == $(this).val())
{
   $('#concesionario').html('<option value="">Concesionario</option>');
   $.each(myJson.ciudad[i].concesionario, function (index, value) {
      $("#concesionario").append('<option value="'+value.id+'" selected>'+value.name+'</option>');
  });
}
}
});
   });
</script>
{% endblock %}
