{% extends "@templates/base.html.twig" %}

{% block title 'Conoce el programa Driver Training | Camiones Freightliner Colombia' %}

{% block metas %}
    {{ parent() }}
    <meta name="description" content="Driver training ofrece programas de entrenamiento que contribuyen al desarrollo y capacitación de los conductores. Contáctanos ahora mismo.">
    <meta name="keywords" content="camiones, Freightliner, volcos, volquetas, tractos, tractocamiones, Bogotá, Colombia, venta de camiones, vehículos comerciales, carga pesada, vehículos para construcción, vehículos mineros, vehículos terrenos difíciles">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="revisit-after" content="30 days">
    <meta name="author" content="Freightliner Colombia">
    <meta property="og:url"                content="http://freightliner.com.co/drive-training.php" />
    <meta property="og:title"              content="Programa Driver Training | Freightliner Colombia" />
    <meta property="og:description"        content="Driver training ofrece programas de entrenamiento que contribuyen al desarrollo y capacitación de los conductores. Contáctanos para hacer uso del servicio." />
    <meta property="og:image"              content="http://freightliner.com.co/tags/driver-training.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@colfreightliner">
    <meta name="twitter:title" content="Conoce el programa Driver Training | Camiones Freightliner Colombia">
    <meta name="twitter:description" content="Driver training ofrece programas de entrenamiento que contribuyen al desarrollo y capacitación de los conductores. Contáctanos ahora mismo.">
    <meta name="twitter:image" content="http://freightliner.com.co/tags/driver-training.jpg">

{% endblock %}

{% block content %}
    <div class="slider-info">
      <h1>Driver training</h1>
      <div>
        <img src="img/Logo-drive-training.jpg">
      </div>
    </div>

    <div class="content">
      <p>El programa Driver Training, ofrece a los participantes, directrices vitales e información sobre producto y conducción eficiente y segura. Los participantes aprenderán cómo reducir el consumo de combustible sin ninguna disminución notable en el rendimiento. El programa de capacitación Driver Training, les dará las herramientas para sacar el mayor provecho del producto y la información necesaria para el correcto uso y mantenimiento del mismo.</p>

      <div class="detalles">
        <div>
          <h3>¿Por qué tomar este entrenamiento?</h3>
          <p>Porque en este entrenamiento encontrará las herramientas claves para mejorar su rentabilidad, confianza, y conocimiento de nuestros camiones Freightliner.  Además de eso, usted podrá: <br>


          · Conocer su vehículo a profundidad. <br>
          · Lograr disminución de costos asociados a reparaciones causadas por un inadecuado manejo o mantenimiento del camión. <br>
          · Optimizar el uso de combustible. <br>
          · Aumentar la rentabilidad en la operación.</p>
          <img src="img/por-que-certificarse.jpg">
        </div>
        <div>
          <h3>¿Cómo acceder y cuáles son los módulos de entrenamiento?      </h3>
          <p>El programa Driver Training está disponible para los clientes de camiones Freightliner y debe ser solicitado a través de la red de concesionarios autorizados de Freightliner en Colombia. <br><br>
          Estos son los tres módulos de entrenamiento del programa: <br><br>
          Familiarización de Producto, Basic Training/Eco Training y Master Driver.</p>
          <img src="img/importante-operarios.jpg">
        </div>
      </div>

      <form class="form-contacto" id="formContacto">
        <input type="hidden" value="Drive Training" id="formulario">
        <h2>¿Quiere capacitarse para ser un mejor profesional del volante?</h2>
        <p>Complete el siguiente formulario para mantenerse al tanto de nuestros programas de entrenamiento.</p>
        <input class="col-md-6" type="text" id="nombre" name="nombre" placeholder="Nombre completo" required>
        <input class="col-md-6" type="text" id="correo" name="correo" placeholder="correo electrónico" required>
        <input class="col-md-6" type="text" id="telefono" name="telefono" placeholder="celular" required>
        <div class="form-select">
          <select id="producto">
            <option value="ciudad">Ciudad donde vive</option>
            <option value="Barranquilla">Barranquilla</option>
            <option value="Bogota">Bogotá</option>
            <option value="Bucaramanga">Bucaramanga</option>
            <option value="Cali">Cali</option>
            <option value="Cucuta">Cúcuta</option>
            <option value="Duitama">Duitama</option>
            <option value="Ibague">Ibagué</option>
            <option value="Medellin">Medellín</option>
            <option value="Pereira">Pereira</option>
          </select>
        </div>
        <textarea placeholder="Comentarios" id="comentarios"></textarea>
        <input type="checkbox" name="vehicle" value="Bike" required> Autorizo tratamiento de datos personales<br>
        <input type="submit" value="Enviar" id="submitContacto" class="boton">
        <p id="msjContacto"></p>
      </form>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ include('@templates/envioForm.html.twig',
    {
        'nombreForm': 'formContacto',
        'campos':{'nombre':'input','correo':'input','producto':'select','telefono':'input','comentarios':'textarea','formulario':'input'},
        'submit':'submitContacto',
        'path': 'libs/enviar-contacto.php',
        'labelMsj':'msjContacto',
        'msj':'Mensaje enviado con éxito'
    })
    }}
{% endblock %}
