{% extends "@templates/base.html.twig" %}

{% block title 'Movimiento en carretera | Camiones Freightliner Colombia' %}

{% block metas %}
    {{ parent() }}
    <meta name="description" content="Conoce nuestro portafolio de vehículos diseñados para lograr máxima eficiencia, mejor desempeño, disponibilidad del vehículo y excelencia operativa.">
    <meta name="keywords" content="camiones, Freightliner, volcos, volquetas, tractos, tractocamiones, Bogotá, Colombia, venta de camiones, vehículos comerciales, carga pesada, vehículos para construcción, vehículos mineros, vehículos terrenos difíciles">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="revisit-after" content="30 days">
    <meta name="author" content="Freightliner Colombia">
    <meta property="og:url"                content="http://freightliner.com.co/home-carga.php" />
    <meta property="og:title"              content="Movimiento en carretera | Freightliner Colombia"/>
    <meta property="og:description"        content="Conoce nuestro portafolio de productos diseñados para lograr máxima eficiencia, mejor desempeño, disponibilidad del vehículo y excelencia operativa para el transporte de mercancías dentro de estrictos tiempos de entrega en medianas y largas distancias. " />
    <meta property="og:image"              content="http://freightliner.com.co/tags/movimiento-en-carretera.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@colfreightliner">
    <meta name="twitter:title" content="Movimiento en carretera | Camiones Freightliner Colombia">
    <meta name="twitter:description" content="Conoce nuestro portafolio de vehículos diseñados para lograr máxima eficiencia, mejor desempeño, disponibilidad del vehículo y excelencia operativa.">
    <meta name="twitter:image" content="http://freightliner.com.co/tags/movimiento-en-carretera.jpg">
{% endblock %}

{% block content %}
    <div class="slider-info">
      <h1>Movimiento en carretera</h1>
    </div>

    <div class="content">
      <p>El portafolio de Freightliner cuenta con vehículos especializados para el transporte de mercancías dentro de estrictos tiempos de entrega  en medianas y largas distancias. Conocemos los desafíos que las rutas colombianas plantean a nuestros operadores, por eso diseñamos camiones especializados para lograr máxima eficiencia, mejor desempeño, disponibilidad del vehículo y excelencia operativa para su negocio. </p>

      <div class="items">
        <a href="cascadia-dd15.php" style="background-image: url(img/assets/home-construccion-carga/carga/cascadia.jpg);">
          <p>CASCADIA</p>
          
        </a>

        <a href="m2106-minimula.php" style="background-image: url(img/assets/home-construccion-carga/carga/minimula.jpg);">
          <p>M2 106 MINIMULA</p>
          
        </a>

         <a href="m2106-4x2-largo.php" style="background-image: url(img/assets/home-construccion-carga/carga/m2-106-4X2-largo.jpg);">
          <p>M2 106 4X2 LARGO</p>
          
        </a>

        <a href="m2106-6x4-largo.php" style="background-image: url(img/assets/home-construccion-carga/carga/m2-106-6x4-largo.jpg);">
          <p>M2 106 6X4 LARGO</p>
          
        </a>
      </div>

    </div>
{% endblock %}