{% extends "@templates/base.html.twig" %}

{% block title 'Movimiento en todo terreno | Camiones Freightliner Colombia' %}

{% block metas %}
    {{ parent() }}
    <meta name="description" content="Conoce nuestro portafolio de productos dedicados a la construcción y minería.">
    <meta name="keywords" content="camiones, Freightliner, volcos, volquetas, tractos, tractocamiones, Bogotá, Colombia, venta de camiones, vehículos comerciales, carga pesada, vehículos para construcción, vehículos mineros, vehículos terrenos difíciles">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="revisit-after" content="30 days">
    <meta name="author" content="Freightliner Colombia">
    <meta property="og:url"                content="http://freightliner.com.co/home-construccion.php" />
    <meta property="og:title"              content="Movimiento en todo terreno | Freightliner Colombia" />
    <meta property="og:description"        content="Conoce nuestro portafolio de productos dedicados a la construcción y minería; especial para negocios de transporte de productos de cantera, gravilla, arena, carbón, mineral de hierro u otros agregados y/o minerales por vías agrestes o terrenos difíciles." />
    <meta property="og:image"              content="http://freightliner.com.co/tags/movimiento-en-todo-terreno.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@colfreightliner">
    <meta name="twitter:title" content="Movimiento en todo terreno | Camiones Freightliner Colombia">
    <meta name="twitter:description" content="Conoce nuestro portafolio de productos dedicados a la construcción y minería.">
    <meta name="twitter:image" content="http://freightliner.com.co/tags/movimiento-en-todo-terreno.jpg">
{% endblock %}

{% block content %}
    <div class="slider-info">
      <h1>Movimiento en todo terreno</h1>
    </div>

    <div class="content">
      <p>Freightliner tiene un portafolio de productos dedicados a la construcción y minería.  Si su negocio transporta productos de cantera, gravilla, arena, carbón, mineral de hierro u otros agregados y/o minerales por vías agrestes o terrenos difíciles, nuestros vehículos están diseñados para brindar máxima resistencia, disponibilidad, confiabilidad y rentabilidad para su negocio.  </p>

      <div class="items">
        <a href="m2-volco.php" style="background-image: url(img/assets/home-construccion-carga/construccion/m2-106-volco.jpg);">
          <p>M2 106 VOLCO 6X4</p>
          
        </a>
        <a href="m2-112-volco.php" style="background-image: url(img/assets/home-construccion-carga/construccion/m2-112-volco.jpg);">
          <p>M2 112 VOLCO</p>
          
        </a>
      </div>

    </div>
{% endblock %}