{% extends "@templates/base.html.twig" %}

{% block title %}Freightliner Colombia | La marca líder de camiones en Norteamérica{% endblock %}

{% block metas %}
    {{ parent() }}
    <meta name="description" content="Freightliner, la marca líder en el sector de transporte de carga, innovación y alto desempeño en sus vehículos.">
    <meta name="keywords" content="camiones, Freightliner, volcos, volquetas, tractos, tractocamiones, Bogotá, Colombia, venta de camiones, vehículos comerciales, carga pesada, vehículos para construcción, vehículos mineros, vehículos terrenos difíciles">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="revisit-after" content="30 days">
    <meta name="author" content="Freightliner Colombia">
    <meta property="og:url"                content="http://freightliner.com.co/" />
    <meta property="og:title"              content="75 años de innovación | Freightliner Colombia" />
    <meta property="og:description"        content="Freightliner avanzando siempre en nuevas tecnologías y liderando la industria a través de la innovación y el desempeño en sus vehículos." />
    <meta property="og:image"              content="http://freightliner.com.co/tags/home.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@colfreightliner">
    <meta name="twitter:title" content="Freightliner Colombia | La marca líder de camiones en Norteamérica">
    <meta name="twitter:description" content="Freightliner, la marca líder de la industria a través de la innovación con nuevas tecnologías y  el desempeño en sus vehículos.">
    <meta name="twitter:image" content="http://freightliner.com.co/tags/home.jpg">
{% endblock %}

{% block content %}
    <div class="slider-home">
     <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="slider active">
              <img src="img/Banner_FL2.jpg">
            </div>
          </div>

          <div class="item">
            <div class="slider ">
              <img src="img/grandes_en_todo.jpg">
              <!--<p>Gran feria de repuestos</p>-->
              <!--<a class="boton" style="bottom: 20%;" href="gran-feria-de-repuestos-con-precios-insuperables.php">Conozca más</a>-->
            </div>
          </div>
          
          <div class="item">
            <div class="slider">
              <img src="img/foto-75-anos.jpg">
              <p>M2 106 MINIMULA ISL</p>
              <a class="boton" href="timeline.php">Conozca más</a>
            </div>
          </div>
          <div class="item">
            <div class="slider">
              <img src="img/foto-porque.jpg">
              <p>¿Por qué Freightliner?</p>
              <a class="boton" href="organizacion.php">Conozca más</a>
            </div>
          </div>
        </div>
  <!-- Indicators -->
        <ol class="thumbs carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="thumb-2 active"></li> 
          <li data-target="#carousel-example-generic" data-slide-to="1" class="thumb-1 active"><p>Grandes en todo</p></li>
          <!--<li data-target="#carousel-example-generic" data-slide-to="1" class="thumb-2 active"><p>Gran Feria de respuestos</p></li>        -->
          <li data-target="#carousel-example-generic" data-slide-to="2" class="thumb-3"><p>M2 106 MINIMULA ISL</p></li>
          <li data-target="#carousel-example-generic" data-slide-to="3" class="thumb-4"><p>¿Por qué Freightliner?</p></li>
        </ol>
            
      </div>    
      
    </div> 

    <div class="productos">      
      <div class="col-md-6">
          <a href="home-carga.php">
            <img src="img/movimiento-carretera.jpg">
            <h2>Movimiento en carretera</h2>
          </a>
       </div>
      
        <div class="col-md-6">
           <a href="home-construccion.php">
              <img src="img/movimiento-todo-terreno.jpg">
              <h2>Movimiento en todo terreno</h2>
           </a>
        </div>
        
      </div>
    </div>


    <div class="noticias">
      <h2>Noticias</h2>
      <div class="">
        <!-- OJO en caso de noticia destacada descomentar y remplazar info-->

         <!-- <a href="gran-feria-de-repuestos-con-precios-insuperables.php" class="col-md-6 destacado">
              <div class="imagen" style="background-image: url(img/gran-feria-repuestos.jpg); background-position: right"></div>
              <div class="fecha"><span>Freightliner</span> <span>I</span> <span>30.11.2017</span></div>
              <h2>LLEGA LA GRAN FERIA DE REPUESTOS CON PRECIOS INSUPERABLES</h2>
          </a>-->
          <a href="Llamado_a_consumidores_campana_seguridad_cascadia.php" class="col-md-3 noticia">
            <div class="imagen" style="background-image: url(img/noticia-06.jpg);"></div>
            <div class="fecha"><span>Freightliner</span> <span>I</span> <span>03.11. 2017</span></div>
            <h2>LLAMADO A CONSUMIDORES: CAMPAÑA SEGURIDAD CASCADIA PRODUCIDOS ENTRE 2007 Y 2018</h2>
          </a>
          <a href="Nueva-Cascadia-gana-prestigioso-premio-de-diseno-internacional.php" class="col-md-3 noticia">
            <div class="imagen" style="background-image: url(img/nuevacascadia.jpg);"></div>
            <div class="fecha"><span>Freightliner</span> <span>I</span> <span>12.03. 2018</span></div>
            <h2>Nueva Cascadia gana prestigioso premio de diseño internacional.</h2>
          </a>
          <a href="Si-de-poderio-se trata-Freightliner-lo-demuestra-con-la-M2-112.php" class="col-md-3 noticia">
            <div class="imagen" style="background-image: url(img/represa.jpg);"></div>
            <div class="fecha"><span>Freightliner</span> <span>I</span> <span>12.03. 2018</span></div>
            <h2>Si de poderío se trata, Freightliner lo demuestra con la M2 112</h2>
          </a>          
          <a href="Inauguracion-del-primer-centro-camionero-para-Camiones-Freightliner-en-Colombia.php" class="col-md-3 noticia">
            <div class="imagen" style="background-image: url(img/noticia-03.jpg);"></div>
            <div class="fecha"><span>Freightliner</span> <span>I</span> <span>03.11. 2017</span></div>
            <h2>primer centro camionero Freightliner</h2>
          </a>
          <!--<a href="Freightliner-en-la-XIV-Feria-Internacional-Expoconstruccion-y-Expodiseno-2017.php" class="col-md-3 noticia">
            <div class="imagen" style="background-image: url(img/noticia-04.jpg);"></div>
            <div class="fecha"><span>Freightliner</span> <span>I</span> <span>03.11. 2017</span></div>
            <h2>XIV Feria Internacional Expoconstrucción y Expodiseño  2017</h2>
          </a>-->
      </div>
    </div>

    <hr>

    <div class="concesionarios">
      <h2>Red de concesionarios</h2>
      <p>Visite cualquiera de nuestros talleres de servicio técnico especializado a nivel nacional y conozca todos los servicios y beneficios que tenemos para usted.</p>
      <a class="boton" href="concesionarios.php">ver red de concesionarios</a>
    </div>

{% endblock %}