{% extends "@templates/base.html.twig" %}

{% block title title %}

{% block metas %}
    {{ parent() }}
    <meta name="description" content="{{ metaDescripcion }}">
    <meta name="keywords" content="{{ metaKeywords }}">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="revisit-after" content="30 days">
    <meta name="author" content="Freightliner Colombia">
    <meta property="og:url"                content="{{ ogUrl }}" />
    <meta property="og:title"              content="{{ ogTitle }}" />
    <meta property="og:description"        content="{{ ogDescription }}" />
    <meta property="og:image"              content="{{ ogImage }}" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@colfreightliner">
    <meta name="twitter:title" content="{{ twitterTitle }}">
    <meta name="twitter:description" content="{{ twitterDescription }}">
    <meta name="twitter:image" content="{{ twitterImage }}">

{% endblock %}

{% block content %}
    <div class="content">
        {% if restringir is defined and restringir and usuario is not defined %}
            <div style="margin: 70px 18px" class="alert alert-danger" role="alert">El acceso a esta noticia está restringido</div></div>
        {% else %}
            <p><span>{{ categoria }}</span> I <Span>{{ fecha }}</Span></p>
            <h1>{{ titulo }}</h1>
            <div class="redes">
                <span>Compartir:</span>
                <a id="fb" href="javascript: void(0);" class="facebook"></a>
                <!--a id="twitter" href="javascript: void(0);" class="mail"></a-->
            </div>

            <div class="noticias">
                <img src="{{ imagen }}">
                {% for parrafo in contenido %}
                    <p>{{ parrafo|raw }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        document.getElementById('fb').addEventListener("click", function () {
            window.open("http://www.facebook.com/sharer.php?u=" + encodeURIComponent(window.location.href),'{{ title }}', 'toolbar=0, status=0, width=650, height=450');
        });
        document.getElementById('twitter').addEventListener("click", function () {
            window.open("http://twitter.com/home?status=" + encodeURIComponent(window.location.href),'{{ title }}', 'toolbar=0, status=0, width=650, height=450');
        });
    </script>
{% endblock %}
