{% extends "@templates/base.html.twig" %}

{% block title 'Conoce lo último de nuestras noticias | Camiones Freightliner Colombia' %}

{% block metas %}
    {{ parent() }}
    <meta name="description" content="Nuestra presencia y reconocimiento en el mercado, demuestran una vez más porqué somos los líderes norteamericanos en el transporte de carga.">
    <meta name="keywords" content="camiones, Freightliner, volcos, volquetas, tractos, tractocamiones, Bogotá, Colombia, venta de camiones, vehículos comerciales, carga pesada, vehículos para construcción, vehículos mineros, vehículos terrenos difíciles">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="revisit-after" content="30 days">
    <meta name="author" content="Freightliner Colombia">
    <meta property="og:url"                content="http://freightliner.com.co/noticias.php" />
    <meta property="og:title"              content="Nuestras últimas noticias | Freightliner Colombia " />
    <meta property="og:description"        content="Nuestra presencia y reconocimiento en el mercado, demuestran una vez más porqué somos los líderes norteamericanos en el transporte de carga. " />
    <meta property="og:image"              content="http://freightliner.com.co/tags/noticias.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@colfreightliner">
    <meta name="twitter:title" content="Conoce lo último de nuestras noticias | Camiones Freightliner Colombia">
    <meta name="twitter:description" content="Nuestra presencia y reconocimiento en el mercado, demuestran una vez más porqué somos los líderes norteamericanos en el transporte de carga.">
    <meta name="twitter:image" content="http://freightliner.com.co/tags/noticias.jpg">

{% endblock %}

{% block content %}
    <div class="slider-info">

        {% if usuario is defined and seccion == 'sala-de-prensa' %}
            <h1>Sala de Prensa</h1>
        {% else %}
            <h1>Nuestras Noticias</h1>
        {% endif %}
    </div>

    <div class="content">
        <div class="btn-noticias">
            <a href="?seccion=todas" class="boton {% if seccion == 'todas' %} not-active {% endif %}">Todas la noticias</a>
            <a href="{% if usuario is defined %}?seccion=sala-de-prensa{% endif %}" class="boton {% if seccion == 'sala-de-prensa' %} not-active {% endif %}" {% if usuario is not defined %}data-toggle="modal" data-target="#login"{% endif %}>Sala de prensa</a>
        </div>
        <div class="noticias">
            {% if seccion == 'todas' %}
                <a href="gran-feria-de-repuestos-con-precios-insuperables.php" class="col-md-6 destacado">
                    <div class="imagen" style="background-image: url(img/gran-feria-repuestos.jpg); background-position: right"></div>
                    <div class="fecha"><span>Freightliner</span> <span>I</span> <span>30.11.2017</span></div>
                    <h2>LLEGA LA GRAN FERIA DE REPUESTOS CON PRECIOS INSUPERABLES</h2>
                </a>
                <a href="La-marca-de-camiones-Freightliner-le-apuesta-al-plan-de-infraestructura-vial-en-el-Departamento-de-Antioquia.php" class="col-md-3 noticia">
                    <div class="imagen" style="background-image: url(img/noticia-01.jpg);"></div>
                    <div class="fecha"><span>Freightliner</span> <span>I</span> <span>03.11. 2017</span></div>
                    <h2>Plan de infraestructura vial en el Departamento de Antioquia</h2>
                </a>
                <a href="La-marca-Freightliner-obtiene-record-historico-del-44-porciento-de-participacion-de-mercado.php" class="col-md-3 noticia">
                    <div class="imagen" style="background-image: url(img/noticia-02.jpg);"></div>
                    <div class="fecha"><span>Freightliner</span> <span>I</span> <span>03.11. 2017</span></div>
                    <h2>Récord histórico del 44% de participación</h2>
                </a>
                <a href="Inauguracion-del-primer-centro-camionero-para-Camiones-Freightliner-en-Colombia.php" class="col-md-3 noticia">
                    <div class="imagen" style="background-image: url(img/noticia-03.jpg);"></div>
                    <div class="fecha"><span>Freightliner</span> <span>I</span> <span>03.11. 2017</span></div>
                    <h2>primer centro camionero Freightliner</h2>
                </a>
                <a href="Llamado_a_consumidores_campana_seguridad_cascadia.php" class="col-md-3 noticia">
                    <div class="imagen" style="background-image: url(img/noticia-06.jpg);"></div>
                    <div class="fecha"><span>Freightliner</span> <span>I</span> <span>03.11. 2017</span></div>
                    <h2>LLAMADO A CONSUMIDORES: CAMPAÑA SEGURIDAD CASCADIA PRODUCIDOS ENTRE 2007 Y 2018</h2>
                </a>
                <a href="Primer-Centro-Especializado-en-Camiones-Freightliner-en-el-departamento-del-Valle.php" class="col-md-3 noticia">
                    <div class="imagen" style="background-image: url(img/noticia-05.jpg);"></div>
                    <div class="fecha"><span>Freightliner</span> <span>I</span> <span>03.11. 2017</span></div>
                    <h2>Primer Centro Especializado de Camiones en el Valle</h2>
                </a>
            {% elseif seccion == 'sala-de-prensa' and usuario is defined  %}
                 <a href="descargables/Press_Release_-Feria_de_Repuestos.docx" target="_blank" class="col-md-3 noticia">
                    <div class="imagen" style="background-image: url(img/gran-feria-repuestos.jpg);"></div>
                    <div class="fecha"><span>Freightliner</span> <span>I</span> <span>01.12. 2017</span></div>
                    <h2>Gran feria de repuestos con precios insuperables</h2>
                </a>
            {% endif %}
         <!--    <a class="col-md-3 noticia">
                <div class="imagen" style="background-image: url(img/noticia-04.jpg);"></div>
                <div class="fecha"><span>Freightliner</span> <span>I</span> <span>03.11. 2017</span></div>
                <h2>XIV Feria Internacional Expoconstrucción y Expodiseño  2017</h2>
            </a>
            <a class="col-md-3 noticia">
                <div class="imagen" style="background-image: url(img/noticia-05.jpg);"></div>
                <div class="fecha"><span>Freightliner</span> <span>I</span> <span>03.11. 2017</span></div>
                <h2>Primer Centro Especializado de Camiones en el Valle</h2>
            </a>
            <a class="col-md-3 noticia">
                <div class="imagen" style="background-image: url(img/noticia-03.jpg);"></div>
                <div class="fecha"><span>Freightliner</span> <span>I</span> <span>03.11. 2017</span></div>
                <h2>primer centro camionero Freightliner</h2>
            </a> -->
           <!--  <div class="cargando">Cargando más noticias</div> -->
        </div>
    </div>

{% endblock %}
{% block modals %}
    <!-- Modal login -->
    <div class="modal fade modal-login" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="modal-title">Login</h4>
                    <p>Si tienes permiso para ingresar a esta sección, completa los datos solicitados y haz clic en el botón "ingresar". Si aún no cuentas con tus datos de ingreso, comunícate al teléfono 7426850 y pide más información.</p>
                    <form method="post" action="?seccion=sala-de-prensa">
                        <input type="text" name="usuario" placeholder="Usuario">
                        <input type="password" name="clave" placeholder="contraseña">
                        <input type="submit" value="Ingresar" class="boton">
                    </form>
                </div>
            </div>
            <div class="modal-arrow">
                <a class="next" data-toggle="modal" data-target="#repuesto-2" data-dismiss="modal" aria-label="Close"></a>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        {% if error is defined %}
            alert('ERROR: \n\n{{ error }}');
        {% endif %}
    </script>
{% endblock %}