{% extends "@templates/base.html.twig" %}

{% block title 'Nuestras noticias' %}

{% block content %}
    <div class="slider-info">
      <h1>Nuestras Noticias</h1>
    </div>

    <div class="content">
      <div class="btn-noticias">
        <a href="" class="boton">Todas la noticias</a>
        <a href="" class="boton">Sala de prensa</a>
      </div>
      <div class="noticias">
        <a class="col-md-6 destacado">
          <div class="imagen" style="background-image: url(img/noticia-01.jpg);"></div>
          <div class="fecha"><span>Freightliner</span> <span>I</span> <span>20.09. 2017</span></div>
          <h2>Plan de infraestructura vial en el Departamento de Antioquia</h2>
        </a>
        <a class="col-md-3 noticia">
          <div class="imagen" style="background-image: url(img/noticia-02.jpg);"></div>
          <div class="fecha"><span>Freightliner</span> <span>I</span> <span>20.09. 2017</span></div>
          <h2>Récord histórico del 44% de participación</h2>
       </a>
       <a class="col-md-3 noticia">
          <div class="imagen" style="background-image: url(img/noticia-03.jpg);"></div>
          <div class="fecha"><span>Freightliner</span> <span>I</span> <span>20.09. 2017</span></div>
          <h2>primer centro camionero Freightliner</h2>
       </a>
       <a class="col-md-3 noticia">
          <div class="imagen" style="background-image: url(img/noticia-04.jpg);"></div>
          <div class="fecha"><span>Freightliner</span> <span>I</span> <span>20.09. 2017</span></div>
          <h2>XIV Feria Internacional Expoconstrucción y Expodiseño  2017</h2>
       </a>
       <a class="col-md-3 noticia">
          <div class="imagen" style="background-image: url(img/noticia-05.jpg);"></div>
          <div class="fecha"><span>Freightliner</span> <span>I</span> <span>20.09. 2017</span></div>
          <h2>Primer Centro Especializado de Camiones en el Valle</h2>
       </a>
       <a class="col-md-3 noticia">
          <div class="imagen" style="background-image: url(img/noticia-03.jpg);"></div>
          <div class="fecha"><span>Freightliner</span> <span>I</span> <span>20.09. 2017</span></div>
          <h2>primer centro camionero Freightliner</h2>
       </a>
       <a class="col-md-3 noticia">
          <div class="imagen" style="background-image: url(img/noticia-04.jpg);"></div>
          <div class="fecha"><span>Freightliner</span> <span>I</span> <span>20.09. 2017</span></div>
          <h2>XIV Feria Internacional Expoconstrucción y Expodiseño  2017</h2>
       </a>
       <a class="col-md-3 noticia">
          <div class="imagen" style="background-image: url(img/noticia-05.jpg);"></div>
          <div class="fecha"><span>Freightliner</span> <span>I</span> <span>20.09. 2017</span></div>
          <h2>Primer Centro Especializado de Camiones en el Valle</h2>
       </a>
       <a class="col-md-3 noticia">
          <div class="imagen" style="background-image: url(img/noticia-03.jpg);"></div>
          <div class="fecha"><span>Freightliner</span> <span>I</span> <span>20.09. 2017</span></div>
          <h2>primer centro camionero Freightliner</h2>
       </a>
       <div class="cargando">Cargando más noticias</div>
      </div>
    </div>
{% endblock %}