{% extends "@templates/base.html.twig" %}

{% block title '¿Por qué escoger a Freightliner? | Camiones Freightliner Colombia' %}

{% block metas %}
    {{ parent() }}
    <meta name="description" content="Freightliner continúa haciendo historia en el desarrollo de camiones innovadores, eficientes y rentables.">
    <meta name="keywords" content="camiones, Freightliner, volcos, volquetas, tractos, tractocamiones, Bogotá, Colombia, venta de camiones, vehículos comerciales, carga pesada, vehículos para construcción, vehículos mineros, vehículos terrenos difíciles">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="revisit-after" content="30 days">
    <meta name="author" content="Freightliner Colombia">
    <meta property="og:url"                content="http://freightliner.com.co/organizacion.php" />
    <meta property="og:title"              content="Nuestro compromiso Freightliner | Freightliner Colombia " />
    <meta property="og:description"        content="Freightliner continúa haciendo historia en el desarrollo de camiones innovadores, eficientes y rentables." />
    <meta property="og:image"              content="http://freightliner.com.co/tags/porque-freightliner.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@colfreightliner">
    <meta name="twitter:title" content="¿Por qué escoger a Freightliner? | Camiones Freightliner Colombia">
    <meta name="twitter:description" content="Freightliner continúa haciendo historia en el desarrollo de camiones innovadores, eficientes y rentables.">
    <meta name="twitter:image" content="http://freightliner.com.co/tags/porque-freightliner.jpg">

{% endblock %}

{% block content %}
    <div class="slider-info">
        <h1>¿Por qué Freightliner?</h1>
    </div>

    <div class="content">

        <div width="100%" controls class="col-md-6">
            <iframe width="100%" height="251" src="https://www.youtube.com/embed/XF14wGOozEg" frameborder="0" gesture="media" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">

            <h2>LÍDERES DEL MERCADO NORTEAMERICANO</h2>
            <p >En los últimos años hemos logrado el mayor volumen de ventas de camiones en los muy exigentes y competidos mercados norteamericanos (Estados Unidos, Canadá y México), consiguiendo así una diferencia importante respecto a los competidores. Como resultado de ello, confirmamos nuestro compromiso y promesa de valor con nuestros clientes. Entregamos camiones con los más altos estándares de calidad, eficiencia y productividad, capaces de entregar los resultados que se requieren para construir sus negocios y hacerlos crecer.</p>
        </div>


        <!--  <video width="100%" controls class="col-md-4">
             <source src="img/video.mp4" type="video/mp4">
             <source src="img/video.ogg" type="video/ogg">
             Your browser does not support HTML5 video.
           </video> -->

    </div>

    <div class="content">



        <div class="col-md-6">
            <h2>Tradición</h2>

            <p>Desde que Freightliner inició la fabricación en 1942, comenzó el compromiso con nuestros clientes por brindar lo mejor de la tecnología e innovación automotriz en la industria del transporte pesado.  Esto ha llevado a Freightliner a ser una de las marcas más respetadas de la industria de camiones en América. Al día de hoy, somos el mayor proveedor y vendedor de camiones de servicio pesado en Norteamérica y nos aferramos a nuestra filosofía y tradición de diseñar y producir nuestros vehículos enfocados en las necesidades y expectativas de propietarios y conductores. </p>
        </div>
        <div width="100%" controls class="col-md-6">
            <img src="img/Video1.jpg">
        </div>

        <!--  <video width="100%" controls class="col-md-4">
             <source src="img/video.mp4" type="video/mp4">
             <source src="img/video.ogg" type="video/ogg">
             Your browser does not support HTML5 video.
           </video> -->

    </div>

    <div class="content">

        <div width="100%" controls class="col-md-6">
            <iframe width="100%" height="251" class="embed-responsive-item" src="https://www.youtube.com/embed/LaBrcL47W3A" frameborder="0" gesture="media" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h2>Innovación</h2>

            <p>En Freightliner apostamos a la innovación tecnológica enfocada a brindar mayor rentabilidad para nuestros clientes en su operación.  Desarrollamos conceptos de diseño revolucionarios que generan nuevas formas de interactuar entre el conductor y el camión.
                Hemos implementado tecnologías de simulación en computador que evalúan cada modelo de camión y sus variantes antes de integrarlos a las líneas de producción. Este proceso permite optimizar el diseño y automatizar la producción, todo orientado a lograr la máxima calidad de nuestros camiones.</p>
        </div>

        <!-- <div width="100%" controls class="col-md-4">
            <img src="img/Video3.jpg">
          </div> -->

        <!-- <video width="100%" controls class="col-md-4">
            <source src="img/video.mp4" type="video/mp4">
            <source src="img/video.ogg" type="video/ogg">
            Your browser does not support HTML5 video.
          </video> -->

    </div>



    <div class="content">
        <div class="col-md-6">
            <h2>PASIÓN EN TODO LO QUE HACEMOS</h2>

            <p>La voz de nuestros clientes, demuestran porqué en Freightliner celebramos mucho más que 75 años de innovación.</p>
        </div>
        <!--<div width="100%" controls class="col-md-6">
          <img src="img/Video4.jpg">
        </div>-->

        <!--video width="100%" height="251" controls class="col-md-6">
            <source src="video/porquefl-low.mp4" type="video/mp4">
            <source src="video/porquefl.oggtheora.ogv" type="video/ogg">
            Your browser does not support HTML5 video.
          </video-->
        <div width="100%" controls class="col-md-6">
            <iframe width="100%" height="251" src="https://www.youtube.com/embed/Qo_VyRsDAfg" frameborder="0" gesture="media" allowfullscreen></iframe>
        </div>

    </div>

    <!-- <div class="items">
    <video width="100%" controls>
      <source src="img/video.mp4" type="video/mp4">
      <source src="img/video.ogg" type="video/ogg">
      Your browser does not support HTML5 video.
    </video>
  </div> -->
    </div>
{% endblock %}