{% extends "@templates/base.html.twig" %}

{% block title 'oce nuestro servicio posventa | Camiones Freightliner Colombia' %}

{% block metas %}
    {{ parent() }}
    <meta name="description" content="En Freightliner pensamos en la rentabilidad, eficiencia de combustible,  seguridad, calidad y tiempo de actividad de los operadores de Colombia.">
    <meta name="keywords" content="camiones, Freightliner, volcos, volquetas, tractos, tractocamiones, Bogotá, Colombia, venta de camiones, vehículos comerciales, carga pesada, vehículos para construcción, vehículos mineros, vehículos terrenos difíciles">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="revisit-after" content="30 days">
    <meta name="author" content="Freightliner Colombia">
    <meta property="og:url"                content="http://freightliner.com.co/posventa.php" />
    <meta property="og:title"              content="Nuestro servicio posventa | Freightliner Colombia" />
    <meta property="og:description"        content="Freightliner pensando siempre en la rentabilidad, eficiencia del combustible, conectividad, seguridad, calidad y tiempo de actividad de los operadores de Colombia." />
    <meta property="og:image"              content="http://freightliner.com.co/tags/posventa.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@colfreightliner">
    <meta name="twitter:title" content="Conoce nuestro servicio posventa | Camiones Freightliner Colombia">
    <meta name="twitter:description" content="En Freightliner pensamos en la rentabilidad, eficiencia de combustible,  seguridad, calidad y tiempo de actividad de los operadores de Colombia.">
    <meta name="twitter:image" content="http://freightliner.com.co/tags/posventa.jpg">
{% endblock %}

{% block content %}
    <div class="slider-info">
      <h1>Posventa</h1>
    </div>

    <div class="content">
      <p>Posventa Freightliner en Colombia, soporta de forma oportuna las necesidades de su negocio, por eso Posventa Freightliner es sinónimo de eficiencia y disponibilidad. <br>

El modelo integral de posventa busca la excelencia de nuestros clientes, es confiable y flexible, pone a disposición de los transportadores del país herramientas especializadas, talento humano capaz de atender de forma profesional y confiable los requerimientos específicos de los negocios y las operaciones más exigentes, lo que nos convierte en el mejor socio de negocios.</p>

      <div class="productos">
        <a href="repuestos.php" class="col-md-6" style="background-image: url(img/opc-repuestos.jpg);">
          <h2>repuestos</h2>
          <p>Sabemos que la disponibilidad de repuestos significa rentabilidad y la operación continua de su camión. Conozca nuestras ofertas de repuestos originales a nivel nacional.</p>
        </a>
        <a href="tienda-movil.php" class="col-md-6" style="background-image: url(img/opc-tienda-movil.jpg);">
            <h2>tienda móvil</h2>
            <p>Descubra la tienda Móvil de Freightliner, un portafolio de productos y servicios Posventa para usted y su negocio.</p>
        </a>
        <a href="drive-training.php" class="col-md-6" style="background-image: url(img/opc-drive-training.jpg);">
            <h2>Driver Training</h2>
            <p>Conozca el programa de entrenamiento profesional dirigido a los conductores Freightliner en Colombia, una herramienta que ayuda a optimizar los costos de operación de su negocio.</p>
        </a>
        <!-- <a href="" class="col-md-6" style="background-image: url(img/opc-concesionario.jpg);">
          <h2>concesionario destacado</h2>
          <p>Ponemos a tu disposición en toda nuestra red de servicio técnico a nivel nacional, un grupo de ingenieros, asesores de servicio y técnicos experimentados.</p>
       </a> -->
      </div>
 
    </div>

{% endblock %}
