{% extends "@templates/base.html.twig" %}

{% block title title %}

  {% block metas %}
    {{ parent() }}
    <meta name="description" content="{{ metaDescripcion }}">
    <meta name="keywords" content="{{ metaKeywords }}">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="revisit-after" content="30 days">
    <meta name="author" content="Freightliner Colombia">
    <meta property="og:url" content="{{ ogUrl }}"/>
    <meta property="og:title" content="{{ ogTitle }}"/>
    <meta property="og:description" content="{{ ogDescription }}"/>
    <meta property="og:image" content="{{ ogImage }}"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@colfreightliner">
    <meta name="twitter:title" content="{{ twitterTitle }}">
    <meta name="twitter:description" content="{{ twitterDescription }}">
    <meta name="twitter:image" content="{{ twitterImage }}">

  {% endblock %}

  {% block content %}
    <div class="slider-producto" style="background-image: url({{ imgBanner }});">
      <p>{{ prodcutoNombre }}</p>
      <p class="pro-precio">
        <span>$</span><span>{{ productoPrecio }}</span></p>
      <p class="pro-iva">Precio sugerido incluye IVA</p>
    </div>

    <div class="content">
      <div class="descripcion">
        <img src="{{ imgLogo }}">
        <h2>{{ descTitulo }}</h2>
        <p>{{ descTexto|raw }}</p>
      </div>

      <div class="especificaciones">
        <h2>especificaciones técnicas</h2>
        <div class="spec">
          <img src="{{ imgItem1 }}">
          <p>{{ tituloItem1 }}</p>
          <p>{{ subtituloItem1 }}</p>
        </div>
        <div class="spec">
          <img src="{{ imgItem2 }}">
          <p>{{ tituloItem2 }}</p>
          <p>{{ subtituloItem2 }}</p>
        </div>
        <div class="spec">
          <img src="{{ imgItem3 }}">
          <p>{{ tituloItem3 }}</p>
          <p>{{ subtituloItem3 }}</p>
        </div>
        <div class="spec">
          <img src="{{ imgItem4 }}">
          <p>{{ tituloItem4 }}</p>
          <p>{{ subtituloItem4 }}</p>
        </div>
        <a href="{{ linkFichaTecnica }}" target="_blank" class="boton btn-ficha">Descargar ficha técnica</a>
        <a class="boton" data-toggle="modal" data-target="#cotizacion">Solicitar más información</a>
      </div>

      <div class="imagenes">
        <div style="background-image: url({{ linkImg1 }});"></div>
        <div style="background-image: url({{ linkImg2 }});"></div>
        <div style="background-image: url({{ linkImg3 }});"></div>
      </div>

      <div class="detalles">
        <div>
          <h3>{{ tituloDetalle1 }}</h3>
          <p>{{ textoDetalle1|raw }}</p>
          <img src="{{ imgDetalle1 }}">
        </div>
        <div>
          <h3>{{ tituloDetalle2 }}</h3>
          <p>{{ textoDetalle2|raw }}</p>
          <img src="{{ imgDetalle2 }}">
        </div>
        <div>
          <h3>{{ tituloDetalle3 }}</h3>
          <p>{{ textoDetalle3|raw }}</p>
          <img src="{{ imgDetalle3 }}">
        </div>
      </div>
    </div>
  {% endblock %}

  {% block modals %}
    {{ parent() }}
    <!-- Modal cotización -->
    <div class="modal fade modal-cotizacion" id="cotizacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Solicitar más información</h4>
            <p>Comparta sus datos de contacto, cuéntenos cuál es su vehículo de interés y pronto un asesor comercial se estará comunicando con usted.</p>
          </div>
          <div class="modal-body">
            <form id="formContacto">
              <input type="hidden" value="Cotización" id="formulario">
              <input type="text" id="nombre" name="nombre" placeholder="Nombre completo" required="required">
              <input type="email" id="correo" name="correo" placeholder="Correo electrónico" required="required">
              <input type="tel" id="telefono" name="celular" placeholder="Celular" required="required">

              <div class="form-select" style="width: 100%">
                <select disabled="disabled" id="producto">
                  <option selected="selected" value="{{ prodcutoNombre }}">{{ prodcutoNombre }}</option>
                </select>
              </div>
              <div class="form-select">
                <select id="ciudad" name="ciudad" required="required">
                  <option value="000">Ciudad</option>
                </select>
              </div>
              <div class="form-select">
                <select id="concesionario" name="concesionario" required="required">
                  <option value="000">Concesionario</option>
                </select>
              </div>
              <div class="form-select" style="width: 100%" required="required">
                <select id="mediointeres">
                  <option value="0">Medio de interés</option>
                  <option value="Facebook">Facebook</option>
                  <option value="Instagram">Instagram</option>
                  <option value="Pagina Web">Pagina web</option>
                  <option value="Otro">Otro</option>

                </select>
              </div>
              <textarea id="comentarios" placeholder="Comentarios" required="required"></textarea>
              <input type="checkbox" name="vehicle" value="Bike" required="required">
              Autorizo tratamiento de datos personales<br>
              <input type="submit" id="submitContacto" value="Enviar" class="boton" {#data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#gracias"#}>
              <p id="msjContacto"></p>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal gracias -->
    <div class="modal fade modal-login" id="gracias" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <h4 class="modal-title">gracias por contactarnos</h4>
            <p>Pronto nos comunicaremos contigo para brindarte mas información acerca del producto que solicitaste.</p>
            <a data-dismiss="modal" aria-label="Close" class="boton">Cerrar</a>
          </div>
        </div>
        <div class="modal-arrow">
          <a class="next" data-toggle="modal" data-target="#repuesto-2" data-dismiss="modal" aria-label="Close"></a>
        </div>
      </div>
    </div>
  {% endblock %}

  {% block javascripts %}
    {{ parent() }}
    {{ include('@templates/envioForm.html.twig',
    {
        'nombreForm': 'formContacto',
        'campos':{'nombre':'input','correo':'input','producto':'select','telefono':'input','comentarios':'textarea','formulario':'input', 'ciudad':'select', 'mediointeres':'select', 'concesionario':'select', 'ciudad':'select'},
        'submit':'submitContacto',
        'path': 'libs/enviar-producto.php',
        'labelMsj':'msjContacto',
        'msj':'Mensaje enviado con éxito',
        'modal':'gracias',
        'modalhide':'cotizacion'
    })
    }}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {
        var myJson = {
          "ciudad": [
            {
              "name": "Barranquilla",
              "id": "barranquilla",
              "concesionario": [
                {
                  "name": "Alemana Automotriz",
                  "id": "Alemana Automotriz "
                }
              ]
            }, {
              "name": "Bogotá",
              "id": "bogota",
              "concesionario": [
                {
                  "name": "Motorysa Av. 68",
                  "id": "Motorysa Av 68"
                }, {
                  "name": "Motorysa Calle 80",
                  "id": "Motorysa Calle 80"
                }
              ]
            }, {
              "name": "Bucaramanga",
              "id": "bucaramanga",
              "concesionario": [
                {
                  "name": "Motoreste Motors S.A.",
                  "id": "Motoreste Motors S.A."
                }
              ]
            }, {
              "name": "Cali",
              "id": "cali",
              "concesionario": [
                {
                  "name": "Andina Motors S.A.S.",
                  "id": "Andina Motors S.A.S."
                }
              ]
            }, {
              "name": "Boyacá",
              "id": "boyaca",
              "concesionario": [
                {
                  "name": "Motorysa",
                  "id": "Motorysa boyaca"
                }
              ]
            }, {
              "name": "Ibagué",
              "id": "ibague",
              "concesionario": [
                {
                  "name": "Motorysa",
                  "id": "Motorysa ibague"
                }
              ]
            }, {
              "name": "Medellín",
              "id": "medellin",
              "concesionario": [
                {
                  "name": "Alemautos S.A.",
                  "id": "Alemautos S.A."
                }
              ]
            }, {
              "name": "Montería",
              "id": "montería",
              "concesionario": [
                {
                  "name": "Alemautos S.A.",
                  "id": "Alemautos S.A."
                }
              ]
            }, {
              "name": "Pereira",
              "id": "pereira",
              "concesionario": [
                {
                  "name": "Andes Motors S.A.S.",
                  "id": "Andes Motors S.A.S."
                }
              ]
            }
          ]
        }

        $.each(myJson.ciudad, function(index, value) {
          $("#ciudad").append('<option value="' + value.id + '">' + value.name + '</option>');
        });

        $('#ciudad').on('change', function() {
          console.log($(this).val());
          for (var i = 0; i < myJson.ciudad.length; i++) {
            if (myJson.ciudad[i].id == $(this).val()) {
              $('#concesionario').html('<option value="000">Concesionario</option>');
              $.each(myJson.ciudad[i].concesionario, function(index, value) {
                $("#concesionario").append('<option value="' + value.id + '" selected>' + value.name + '</option>');
              });
            }
          }
        });
      });
    </script>
  {% endblock %}
