{% extends "@templates/base.html.twig" %}

{% block title 'Conoce nuestra oferta de repuestos | Camiones Freightliner Colombia' %}

{% block metas %}
    {{ parent() }}
    <meta name="description" content="La mejor oferta de repuestos genuinos, accesorios y componentes para vehículos Freightliner al alcance de todos.">
    <meta name="keywords" content="camiones, Freightliner, volcos, volquetas, tractos, tractocamiones, Bogotá, Colombia, venta de camiones, vehículos comerciales, carga pesada, vehículos para construcción, vehículos mineros, vehículos terrenos difíciles">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="revisit-after" content="30 days">
    <meta name="author" content="Freightliner Colombia">
    <meta property="og:url"                content="http://freightliner.com.co/repuestos.php" />
    <meta property="og:title"              content="Repuestos al alcance de tu negocio | Freightliner Colombia" />
    <meta property="og:description"        content="La mejor oferta de repuestos genuinos, accesorios y componentes para vehículos Freightliner al alcance de todos. " />
    <meta property="og:image"              content="http://freightliner.com.co/tags/repuestos.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@colfreightliner">
    <meta name="twitter:title" content="Conoce nuestra oferta de repuestos | Camiones Freightliner Colombia">
    <meta name="twitter:description" content="La mejor oferta de repuestos genuinos, accesorios y componentes para vehículos Freightliner al alcance de todos.">
    <meta name="twitter:image" content="http://freightliner.com.co/tags/repuestos.jpg">

{% endblock %}

{% block content %}
    <div class="slider-info">
        <h1>Repuestos</h1>
    </div>

    <div class="content">
        <!-- <form class="form-select">
            <select>
                <option value="CL120">CL120</option>
                <option value="Vehículos-Freightliner">Vehículos Freightliner</option>
            </select>
        </form>-->

        <div class="img-repuestos hidden-sm">
            <img src="img/cl120.jpg">
        </div>
        <div class="hidden-may-sm img-repuestos-mobile"></div>

        <div class="repuestos">
            <div class="col-sm-6">
                <h2>KIT FILTROS CL120</h2>
                <p><span>RDN Kit filtración CL-120</span><span>  I   </span><span>Aplica para: CL 120</span></p>
            </div>
            <div class="col-sm-6 text-right">
                <h2>$292.138</h2>
                <p>El precio sugerido de venta del Kit no incluye IVA</p>
            </div>
            <div class="list-contenido">
                <p><b>Contiene</b></p>
                <p>1 Filtro Trampa combustible</p>
                <p>2 Filtros de Aceite</p>
                <p>1 Filtro de Aire</p>
                <p>1 Filtro de Combustible principal</p>
            </div>
            <div class="det-repuestos">
                <div style="background-image: url(img/kit-filtros-cl120.png);"></div>
                <div style="background-image: url(img/kit-filtros-cl120-1.png);"></div>
                <div style="background-image: url(img/kit-filtros-cl120-3.png);"></div>
                <div style="background-image: url(img/kit-filtros-cl120-4.png);"></div>
            </div>
        </div>


    </div>
    <hr>

    <div class="repuestos-lighbox">
        <h2>REPUESTOS A LA MEDIDA DE SU NEGOCIO</h2>
        <a class="boton" data-toggle="modal" data-target="#repuestos">VER REPUESTOS</a>
    </div>
{% endblock %}
{% block modals %}
    {{ parent() }}
    <!-- Modal -->
    <div class="modal fade modal-repuesto" id="repuestos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="carousel-repuestos" class="carousel slide" data-ride="carousel" data-interval="false">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Filtro separador de agua</h4>
                                <p>Referencia: <span>RABP N122R50421</span></p>
                                <p>Aplica para: <span><b>CL 120</b></span></p>
                                <p class="pull-right"><b><span>1</span>/<span>4</span></b></p>
                            </div>
                            <div class="modal-body">
                                <img src="img/filtro-separador-de-agua.png">
                            </div>
                            <div class="modal-footer">
                                <div>
                                    <p>Precio venta público sugerido</p>
                                    <p><span>$</span>79.121</p>
                                    <p>No incluye IVA</p>
                                </div>
                                <div>
                                    <p>Tras el cierre de la publicación de esta oferta 03.11.2017 pueden producirse cambios en la misma, por favor validar la disponibilidad en la red de concesionarios autorizados de Freightliner Colombia S.A.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">ANTENNA 48LN. NEGRA</h4>
                                <p>Referencia: <span>RABP N122R50421</span></p>
                                <p>Aplica para: <span><b>Vehículos Freightliner</b></span></p>
                                <p class="pull-right"><b><span>2</span>/<span>4</span></b></p>
                            </div>
                            <div class="modal-body">
                                <img src="img/Antena-48LN-Negra.png">
                            </div>
                            <div class="modal-footer">
                                <div>
                                    <p>Precio venta público sugerido</p>
                                    <p><span>$</span>18.542</p>
                                    <p>No incluye IVA</p>
                                </div>
                                <div>
                                    <p>Tras el cierre de la publicación de esta oferta 03.11.2017 pueden producirse cambios en la misma, por favor validar la disponibilidad en la red de concesionarios autorizados de Freightliner Colombia S.A.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">FILTRO TRAMPA</h4>
                                <p>Referencia: <span>RABP N122R50421</span></p>
                                <p>Aplica para: <span><b>CL120</b></span></p>
                                <p class="pull-right"><b><span>3</span>/<span>4</span></b></p>
                            </div>
                            <div class="modal-body">
                                <img src="img/kit-filtros-cl120.png">
                            </div>
                            <div class="modal-footer">
                                <div>
                                    <p>Precio venta público sugerido</p>
                                    <p><span>$</span>70.793</p>
                                    <p>No incluye IVA</p>
                                </div>
                                <div>
                                    <p>Tras el cierre de la publicación de esta oferta 03.11.2017 pueden producirse cambios en la misma, por favor validar la disponibilidad en la red de concesionarios autorizados de Freightliner Colombia S.A.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">CUCHILLA DE LIMPIEZA UNIVERSAL</h4>
                                <p>Referencia: <span>RABP N122R50421</span></p>
                                <p>Aplica para: <span><b>M2 106/112/CL120</b></span></p>
                                <p class="pull-right"><b><span>4</span>/<span>4</span></b></p>
                            </div>
                            <div class="modal-body">
                                <img src="img/cuchilla-de-limpieza-universal.png">
                            </div>
                            <div class="modal-footer">
                                <div>
                                    <p>Precio venta público sugerido</p>
                                    <p><span>$</span>28.966</p>
                                    <p>No incluye IVA</p>
                                </div>
                                <div>
                                    <p>Tras el cierre de la publicación de esta oferta 03.11.2017 pueden producirse cambios en la misma, por favor validar la disponibilidad en la red de concesionarios autorizados de Freightliner Colombia S.A.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-repuestos" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-repuestos" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-repuesto" id="repuesto-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Filtro separador de agua</h4>
                    <p>Referencia: <span>RABP N122R50421</span></p>
                    <p>Aplica para: <span><b>CL 120</b></span></p>
                    <p class="pull-right"><b><span>1</span>/<span>4</span></b></p>
                </div>
                <div class="modal-body">
                    <img src="img/filtro-separador-de-agua.png">
                </div>
                <div class="modal-footer">
                    <div>
                        <p>Precio venta público sugerido</p>
                        <p><span>$</span>79.121</p>
                        <p>No incluye IVA</p>
                    </div>
                    <div>
                        <p>Tras el cierre de la publicación de esta oferta 03.11.2017 pueden producirse cambios en la misma, por favor validar la disponibilidad en la red de concesionarios autorizados de Freightliner Colombia S.A.</p>
                    </div>
                </div>
            </div>
            <div class="modal-arrow">
                <a class="next" data-toggle="modal" data-target="#repuesto-2" data-dismiss="modal" aria-label="Close"></a>
            </div>
        </div>
    </div>

    <div class="modal fade modal-repuesto" id="repuesto-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">ANTENNA 48LN. NEGRA</h4>
                    <p>Referencia: <span>RABP N122R50421</span></p>
                    <p>Aplica para: <span><b>Vehículos Freightliner</b></span></p>
                    <p class="pull-right"><b><span>2</span>/<span>4</span></b></p>
                </div>
                <div class="modal-body">
                    <img src="img/Antena-48LN-Negra.png">
                </div>
                <div class="modal-footer">
                    <div>
                        <p>Precio venta público sugerido</p>
                        <p><span>$</span>18.542</p>
                        <p>No incluye IVA</p>
                    </div>
                    <div>
                        <p>Tras el cierre de la publicación de esta oferta 03.11.2017 pueden producirse cambios en la misma, por favor validar la disponibilidad en la red de concesionarios autorizados de Freightliner Colombia S.A.</p>
                    </div>
                </div>
            </div>
            <div class="modal-arrow">
                <a class="previous" data-toggle="modal" data-target="#repuesto-1" data-dismiss="modal" aria-label="Close"></a>
                <a class="next" data-toggle="modal" data-target="#repuesto-3" data-dismiss="modal" aria-label="Close"></a>
            </div>
        </div>
    </div>

    <div class="modal fade modal-repuesto" id="repuesto-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">FILTRO TRAMPA</h4>
                    <p>Referencia: <span>RABP N122R50421</span></p>
                    <p>Aplica para: <span><b>CL120</b></span></p>
                    <p class="pull-right"><b><span>3</span>/<span>4</span></b></p>
                </div>
                <div class="modal-body">
                    <img src="img/kit-filtros-cl120.png">
                </div>
                <div class="modal-footer">
                    <div>
                        <p>Precio venta público sugerido</p>
                        <p><span>$</span>70.793</p>
                        <p>No incluye IVA</p>
                    </div>
                    <div>
                        <p>Tras el cierre de la publicación de esta oferta 03.11.2017 pueden producirse cambios en la misma, por favor validar la disponibilidad en la red de concesionarios autorizados de Freightliner Colombia S.A.</p>
                    </div>
                </div>
            </div>
            <div class="modal-arrow">
                <a class="previous" data-toggle="modal" data-target="#repuesto-2" data-dismiss="modal" aria-label="Close"></a>
                <a class="next" data-toggle="modal" data-target="#repuesto-4" data-dismiss="modal" aria-label="Close"></a>
            </div>
        </div>
    </div>

    <div class="modal fade modal-repuesto" id="repuesto-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">CUCHILLA DE LIMPIEZA UNIVERSAL</h4>
                    <p>Referencia: <span>RABP N122R50421</span></p>
                    <p>Aplica para: <span><b>M2 106/112/CL120</b></span></p>
                    <p class="pull-right"><b><span>4</span>/<span>4</span></b></p>
                </div>
                <div class="modal-body">
                    <img src="img/cuchilla-de-limpieza-universal.png">
                </div>
                <div class="modal-footer">
                    <div>
                        <p>Precio venta público sugerido</p>
                        <p><span>$</span>28.966</p>
                        <p>No incluye IVA</p>
                    </div>
                    <div>
                        <p>Tras el cierre de la publicación de esta oferta 03.11.2017 pueden producirse cambios en la misma, por favor validar la disponibilidad en la red de concesionarios autorizados de Freightliner Colombia S.A.</p>
                    </div>
                </div>
            </div>
            <div class="modal-arrow">
                <a class="previous" data-toggle="modal" data-target="#repuesto-3" data-dismiss="modal" aria-label="Close"></a>
            </div>
        </div>
    </div>
{% endblock %}