{% extends "@templates/base.html.twig" %}

{% block title 'Términos y condiciones' %}

{% block content %}
    <div class="slider-info">
        <h1>Términos y condiciones</h1>
    </div>

    <div class="content">

        <h2>Fotografías y videos </h2>
        <p class="col-md-8">
        Las fotos y videos publicados en esta página web, son fotos y videos de referencia. Algunos accesorios son parte de la ambientación fotográfica o de otras versiones del vehículo. Durante la publicación de esta página web, pueden producirse modificaciones en el diseño y/o equipamiento del producto que podrán incrementar el precio, las cuales, pedimos verificar en la red de concesionarios autorizados. Para mayor información sobre el portafolio de productos, equipamiento, precio, financiación y garantía visite la red de concesionarios autorizados Freightliner en Colombia.
        </p>

    </div>

        <div class="content">

        <h2>Políticas de Privacidad </h2>

        <p class="col-md-8">
        Daimler AG, aprecia su interés en sus productos y en visitar una de sus páginas web oficiales. Su privacidad es muy importante para nosotros por lo que queremos que se sienta cómodo visitando nuestra página web. La protección de la privacidad de sus datos personales es un aspecto importante al cual le prestamos especial atención. La información personal recolectada durante las visitas realizadas a nuestra página web, es procesada por nosotros acorde a las disposiciones legales vigentes en los países en los que esta página web es manejada. Adicionalmente, nuestra política de privacidad de datos cumple con el Código de Conducta de Protección de Datos aplicable para Daimler AG. La página web de Daimler AG puede incluir, sin embargo, enlaces a otras páginas web las cuales pueden no estar cubiertas por esta declaración de privacidad. Código de Conducta de Protección de Datos Daimler AG Uso y Divulgación de datos personales y especificaciones del propósito de uso de la información Daimler AG, utilizará sus datos personales sólo para fines de administración técnica de la página web, gestión de clientes, encuestas sobre los productos y la comercialización de los mismos, sólo en la medida requerida para cada caso específico. Sólo revelaremos sus datos personales a las autoridades gubernamentales en los casos en donde sea requerido por la ley. Nuestros empleados, agencias y distribuidores están obligados a respetar estas políticas de confidencialidad. 
        <br>
        <br>

        Seguridad Daimler AG utiliza medidas técnicas y organizacionales para proteger los datos que tenemos bajo nuestro control contra la manipulación accidental o intencionada, pérdida o destrucción o el acceso de personas no autorizadas. Nuestros procedimientos de seguridad se mejoran continuamente en la medida que nueva tecnología esté disponible. Libertad de la Información Previa solicitud escrita, Daimler AG o sus representantes le informarán por escrito los datos personales almacenados por nosotros, según lo definido por las leyes existentes. En caso que la información sea incorrecta, por favor envíe un correo a info@daimler.com.co Si usted tiene preguntas con respecto al manejo de sus datos personales, puede escribir su consulta, sugerencia o queja al correo electrónico info@daimler.com.co Políticas de Privacidad, Protección y Confidencialidad de Datos www.freightliner.com.co 

        Las siguientes políticas enunciadas corresponden a la recolección de datos que se realiza a través de los formularios de registro dispuestos en esta página web. El usuario una vez diligencia sus datos y acepta los términos y condiciones, está afirmando su conocimiento y consentimiento con cada una de las políticas enunciadas. 
        <br>
        <br>
        A. Protección de datos diligenciados 
        <br>
        <br>
        Daimler Colombia S.A y su red de concesionarios, recolecta datos personales a través de los formularios de registro dispuestos en esta página web, únicamente informativos y estos serán utilizados para uso interno. 
        <br>
        <br>
        Daimler Colombia S.A y su red de concesionarios se hacen responsable del manejo y utilización de los datos recolectados para uso interno. • Los datos recolectados tendrán un manejo confidencial. • El usuario deberá diligenciar sus datos personales completos y verídicos. Una vez los diligencia, el usuario quedará inscrito en una base de datos, recolectada por Daimler Colombia S.A. y su red de concesionarios El usuario puede ejercer su derecho de rectificar y/o modificar los datos diligenciados. Así mismo si desea no hacer parte de la base de datos a la cual se inscriba, deberá enviar un correo a info@daimler.com.co expresando su solicitud.
        <br>
        <br>
        B. Seguridad de los datos diligenciados 
        <br>
        <br>
        Daimler Colombia S.A y su red de concesionarios han implementado y acatado todos los niveles de seguridad exigidos legalmente, en la recolección, manejo y protección de datos.
        <br>
        <br>
        Daimler Colombia S.A y su red de concesionarios implementará todo lo que esté a su alcance, para ofrecer un alto nivel de seguridad de la información recolectada. No obstante, Daimler Colombia S.A, puede estar compelido a revelar y/o compartir información a las autoridades judiciales en caso que así se exija.
        <br>
        <br>
        C. Confidencialidad de los datos diligenciados 
        Daimler Colombia S.A y su red de concesionarios no venderá, alquilará o compartirá los datos recolectados a través del formulario de registro dispuesto en esta página web, a terceros diferentes de sus y estos no serán utilizados en otros fines diferentes a los ya estipulados en estas políticas.
        <br>
        <br>
        El usuario expresa su consentimiento en ceder la información personal diligenciada a Daimler Colombia S.A. y a su red de concesionarios
        <br>
        <br>
        D. Accesos de terceros a los datos recolectados 
        <br>
        <br>
        La seguridad de la información almacenada a través de Internet, puede ser altamente vulnerable al acceso de terceros. Daimler Colombia S.A no se hará responsable en caso que los niveles de seguridad sean violados y se tenga acceso a la información recolectada, así mismo como la divulgación de dichos datos.
        <br>
        <br>
        Los datos recolectados a través de los formularios de registro, son almacenados en un servidor temporal en donde se aloja la página web., el cual cuenta con todos los niveles de seguridad requeridos en el manejo y protección de datos.
        <br>
        <br>
        E. Manejo y uso de los datos recolectados 
        <br>
        <br>
        El usuario una vez expresa el conocimiento y consentimiento de los términos y condiciones, acepta recibir correos electrónicos y llamadas telefónicas por parte de Daimler Colombia S.A y de su red de concesionarios. 
        <br>
        <br>
        Daimler Colombia S.A y su red de concesionarios contactará a cada usuario, para brindarle asesoría comercial en todo el portafolio de productos, actividades comerciales y relación con el cliente. 
        <br>
        <br>
        F. Modificaciones y cambios de las políticas de Privacidad, Protección y Confidencialidad de Datos. 
        <br>
        <br>
        Daimler Colombia S.A se reserva el derecho de modificar cualquier política enunciada sin previo aviso. Los cambios realizados no afectarán la seguridad exigida por las regulaciones competentes. Los cambios realizados podrán ser anunciados a los usuarios a través de la página web y/o a través de correo electrónico.
        <br>
        <br>
        Si desea más información por favor comuníquese a nuestro correo info@daimler.com.co; customercaredco@daimler.com o a la Línea Nacional de Servicio al Cliente: (57 1) 742 68 50 Horario de Atención de Lunes a Viernes 7:30 am a 6:00 pm Sábados de 8 am a 12:00 m
        </p>

        </div>

{% endblock %}