{% extends "@templates/base.html.twig" %}

{% block title 'La tienda móvil visita tu ciudad | Camiones Freightliner Colombia' %}

{% block metas %}
    {{ parent() }}
    <meta name="description" content="La tienda móvil de Freightliner visita las ciudades de Colombia con la mejor oferta de precios en repuestos y accesorios para su vehículo.">
    <meta name="keywords" content="camiones, Freightliner, volcos, volquetas, tractos, tractocamiones, Bogotá, Colombia, venta de camiones, vehículos comerciales, carga pesada, vehículos para construcción, vehículos mineros, vehículos terrenos difíciles">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="revisit-after" content="30 days">
    <meta name="author" content="Freightliner Colombia">
    <meta property="og:url"                content="http://freightliner.com.co/tienda-movil.php" />
    <meta property="og:title"              content="Conoce el recorrido de nuestra tienda móvil | Freightliner Colombia " />
    <meta property="og:description"        content="Nuestra tienda móvil visita las ciudades de Colombia con el fin de entregar repuestos originales y brindar la mejor oferta de precios a la medida de tu negocio." />
    <meta property="og:image"              content="http://freightliner.com.co/tags/tienda-movil.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@colfreightliner">
    <meta name="twitter:title" content="La tienda móvil visita tu ciudad | Camiones Freightliner Colombia">
    <meta name="twitter:description" content="La tienda móvil de Freightliner visita las ciudades de Colombia con la mejor oferta de precios en repuestos y accesorios a la medida de tu negocio.">
    <meta name="twitter:image" content="http://freightliner.com.co/tags/tienda-movil.jpg">

{% endblock %}

{% block content %}
    <div class="slider-info">
      <h1>Tienda Móvil</h1>
    </div>

    <div class="content">
      <div class="col-md-6">
        <h2>¿Qué es  la Tienda Móvil?</h2>
        <p>En Freightliner identificamos la necesidad de llegar a donde usted está, por eso creamos la tienda móvil de repuestos, con el fin de entregar repuestos originales para su camión Freightliner y brindarle la mejor oferta de precios a la medida de su negocio.</p>
        <p>La tienda móvil de repuestos, viaja a nivel nacional a todos los pueblos, veredas, minas y municipios, donde el transporte terrestre lo permita, ofreciendo repuestos originales, con el soporte y la  asesoría de nuestros mejores expertos.    </p>
      </div>
      <div class="col-md-6">
        <h2>¿Qué encontrarán los clientes cuando la tienda móvil llegue a su ciudad y/o municipio?</h2>
        <p>La tienda móvil de repuestos, cuenta con un asesor experto, acceso al catálogo de partes, repuestos Freightliner Alliance  y venta directa de los mismos en el sitio; además, material publicitario y asesoría personalizada.    </p>
      </div>
     <!--  <div class="img-repuestos">
        <h2>¿Qué ciudades y/o municipios hemos visitado, este año?</h2>
        <img>
      </div> -->
      <div class="col-md-12">
        <h2 class="text-center">¡Visítenos en nuestra tienda móvil de repuestos y conozca toda la oferta de precios a la medida de su negocio!</h2>
      </div>
      <form class="form-contacto" id="formContacto">
        <input type="hidden" id="formulario" value="Tienda Movil">
        <h2>¿Quiere enterarse cuándo llega la tienda móvil a su ciudad?</h2>
        <p>Complete el siguiente formulario y le informaremos las fechas y lugares de nuestro próximo recorrido.</p>
        <input class="col-md-6" type="text" id="nombre" name="nombre" placeholder="Nombre completo" required>
        <input class="col-md-6" type="text" id="correo" name="correo" placeholder="correo electrónico" required>
        <input class="col-md-6" type="text" id="telefono" name="telefono" placeholder="celular" required>
        <div class="form-select">
          <select id="producto">
            <option value="ciudad">Ciudad donde vive</option>
            <option value="Barranquilla">Barranquilla</option>
            <option value="Bogota">Bogotá</option>
            <option value="Bucaramanga">Bucaramanga</option>
            <option value="Cali">Cali</option>
            <option value="Cucuta">Cúcuta</option>
            <option value="Duitama">Duitama</option>
            <option value="Ibague">Ibagué</option>
            <option value="Medellin">Medellín</option>
            <option value="Pereira">Pereira</option>
          </select>
        </div>
        <textarea id="comentarios" placeholder="Comentarios"></textarea>
        <input type="checkbox" name="vehicle" value="Bike" required> Autorizo tratamiento de datos personales<br>
        <input type="submit" value="Enviar" id="submitContacto" class="boton">
        <p id="msjContacto"></p>
      </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include('@templates/envioForm.html.twig',
    {
        'nombreForm': 'formContacto',
        'campos':{'nombre':'input','correo':'input','producto':'select','telefono':'input','comentarios':'textarea','formulario':'input'},
        'submit':'submitContacto',
        'path': 'libs/enviar-contacto.php',
        'labelMsj':'msjContacto',
        'msj':'Mensaje enviado con éxito'
    })
    }}
{% endblock %}