{% extends "@templates/base.html.twig" %}

{% block title '75 años de innovación | Camiones Freightliner Colombia' %}

{% block metas %}
    {{ parent() }}
    <meta name="description" content="Desde 1942, Freightliner ha sido una tradición llena de innovación en la industria del transporte por carretera.">
    <meta name="keywords" content="camiones, Freightliner, volcos, volquetas, tractos, tractocamiones, Bogotá, Colombia, venta de camiones, vehículos comerciales, carga pesada, vehículos para construcción, vehículos mineros, vehículos terrenos difíciles">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="revisit-after" content="30 days">
    <meta name="author" content="Freightliner Colombia">
    <meta property="og:url"                content="http://freightliner.com.co/timeline.php" />
    <meta property="og:title"              content=" 75 años de innovación | Freightliner Colombia  " />
    <meta property="og:description"        content="Desde 1942, Freightliner ha sido una tradición llena de innovación en la industria del transporte por carretera." />
    <meta property="og:image"              content="http://freightliner.com.co/tags/75-años-de-innovacion.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@colfreightliner">
    <meta name="twitter:title" content="75 años de innovación | Camiones Freightliner Colombia">
    <meta name="twitter:description" content="Desde 1942, Freightliner ha sido una tradición llena de innovación en la industria del transporte por carretera.">
    <meta name="twitter:image" content="http://freightliner.com.co/tags/75-años-de-innovacion.jpg">

{% endblock %}

{% block links %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css">
{% endblock %}

{% block content %}
    <div>
        <div class="slider-historia">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="slider active">
                            <div style="background-image: url(img/Freightliner-1940.jpg);"></div>
                            <div>
                                <h2>1940s</h2>
                                <p>En agosto de 1942, Freightways Manufacturing cambia su nombre a Freightliner Corporation, dirigida por el fundador y CEO de la compañía, Leland James. Fundada en 1942 sobre principios de innovación y satisfacción del cliente, Freightliner Trucks comenzó con la idea de Leland James de construir componentes para camiones con aluminio liviano en lugar de acero tradicional.</p>
                            </div>

                        </div>
                    </div>
                    <div class="item">
                        <div class="slider">
                            <div style="background-image: url(img/Freightliner-1950.jpg);"></div>
                            <div>
                                <h2>1950s</h2>
                                <p>Freightliner presenta el "Eastern Freightliner", un tractor B-42 diseñado para transportar un solo semirremolque. Por $ 15.871, Freightliner vende (a Hyster) el primer durmiente transcontinental cabina sobre motor que puede transportar un remolque de 35 pies.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slider">
                            <div style="background-image: url(img/Freightliner-1960.jpg);"></div>
                            <div>
                                <h2>1960s</h2>
                                <p>Freightliner construye el transportador WFT5366 AWD para Hawái, diseñado específicamente para transportar 76 toneladas de caña de azúcar. Alimentado por una turbina de gas Boeing modelo 553, el Freightliner® Turboliner pesa 2.400 libras menos que un camión similar con un motor diesel.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slider">
                            <div style="background-image: url(img/Freightliner-1970.jpg);"></div>
                            <div>
                                <h2>1970s</h2>
                                <p>Freightliner presenta su modelo insignia de camión: el llamado Powerliner. Construido con gran potencia en mente, su enorme radiador de 2.000 pulgadas cuadradas esconde un enorme motor de 600 HP.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slider">
                            <div style="background-image: url(img/Freightliner-1980.jpg);"></div>
                            <div>
                                <h2>1980s</h2>
                                <p>Freightliner ve un cambio en la demanda de los clientes a los camiones convencionales de nariz larga, ayudando a los clientes a maximizar las cargas con las configuraciones que mejor se ajustan a sus necesidades. Freightliner lanza al mercado el primer tractor convencional aerodinámico de Freightliner es el camión de clase 8 más vendido de América del Norte de su tiempo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slider">
                            <div style="background-image: url(img/Freightliner-1990.jpg);"></div>
                            <div>
                                <h2>1990s</h2>
                                <p>La Freightliner Century Class presenta u  na colección de avances tecnológicos: mayor economía de combustible, mayor carga útil, seguridad del conductor y productividad que no se encuentran en ninguna otra parte.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slider">
                            <div style="background-image: url(img/Freightliner-2000.jpg);"></div>
                            <div>
                                <h2>2000s</h2>
                                <p>Freightliner construye el primer túnel de viento de escala completa operado por un fabricante de camiones de América del Norte. El camión original Freightliner Cascadia® hace el primer debut, incorporando una gama de nuevas características aerodinámicas, livianas y de reducción de mantenimiento.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slider">
                            <div style="background-image: url(img/Freightliner-2010.jpg);"></div>
                            <div>
                                <h2>2010s</h2>
                                <p>En una ceremonia espectacular en la presa Hoover, se presenta el Inspiration Truck de Freightliner, el primer camión comercial en obtener licencia para operar en modo de vehículo autónomo en las autopistas públicas de Estados Unidos. La ciencia ficción se convierte en realidad.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slider">
                            <div style="background-image: url(img/Freightliner-2017.jpg);"></div>
                            <div>
                                <h2>2017s</h2>
                                <p>La nueva Cascadia se lanza al público en general, anunciando una nueva era de eficiencia en el transporte por carretera, tiempo de actividad, seguridad, conectividad y experiencia del conductor. La nueva Cascadia está preparada para revolucionar la industria de transporte por carretera.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" class="active" data-slide-to="0"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
                </ol>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="js/slick.js"></script>
{% endblock %}