{% extends 'base.html.twig' %}

{% block content %}
    <div class="slider-info">
        <h1>Campaña de seguridad</h1>
    </div>
    {% if codigos is defined %}

        <div class="content">
            <div class="form-contact">
                <h2>EL CÓDIGO APLICA</h2>
                <!--<p>El código <span>{{codigo}}</span>, aplica para la campaña de seguridad <span>{{codigos[0].recall.descripcion|replace({'<p>':'','</p>':''})|raw}}</span>, ingrese sus datos de contacto para obtener más información.</p>-->
                <p>Daimler Colombia  S. A informa  que, para su vehículo FREIGHTLINER CASCADIA, la fábrica ha lanzado una campaña de seguridad. Esta refiere a que, después de varias aplicaciones de freno duro, el interruptor de presión de la luz de freno puede no activarse con una aplicación ligera del pedal de freno. Tales luces no se iluminan cuando los frenos de servicio se están aplicando, por lo cual no indicaría a otros automovilistas la intención del conductor de reducir la velocidad.</p>
                <!--<form action="{{ path('guardarRegistro') }}" method="post">
                    <input type="hidden" name="codigo" value="{{ codigo }}">
                    <input type="text" name="nombres" placeholder="nombres" required>
                    <input type="text" name="apellidos" placeholder="apellidos" required>
                    <input type="text" name="correo" placeholder="correo electrónico" required>
                    <input type="text" name="telefono" placeholder="teléfono" required>
                    <input type="hidden" name="misRegistros" value="{{ misRegistros|json_encode() }}" >
                    <input type="submit" value="Ver información" class="boton">
                </form>-->
            </div>

        </div>

    {% else %}
        <div class="content">
            <div class="form-contact">
                <h2>LLAMADOS DE SEGURIDAD</h2>
                <p>El código <span>{{codigo}}</span>, no aplica para alguna de las campañas de seguridad vigentes de Freightliner Colombia Rectifique el código o intente nuevamente.</p>
                <!--<form action="{{ path('buscarCodigo') }}" method="post" class="two-buttons">
                    <input class="red" type="text" name="codigo" placeholder="Ingrese su número VIN o FIN">
                    <input type="submit" value="volver a buscar" class="boton">
                    <a href="http://freightliner.com.co" class="boton boton-medio boton-negro">IR AL SITIO WEB</a>
                    <a class="que-es" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><b>¿Qué es el código VIN o FIN?</b></a>
                </form>-->
            </div>
        </div>
    {% endif %}
{% endblock %}