{% extends 'base.html.twig' %}

{% block content %}
    <div class="slider-info">
        <h1>Campaña de seguridad</h1>
    </div>

    <div class="content">
        <div class="form-contact">
            <h2>LLAMADOS DE SEGURIDAD</h2>
            <p>Bienvenido a la sección especializada de Freightliner Colombia donde se le informará si su vehículo aplica para alguna de las campañas de seguridad vigentes.</p>
            <form action="{{ path('buscarCodigo') }}" method="post">
                <input type="text" name="codigo" placeholder="Ingrese su número VIN o FIN">
                <input type="submit" value="Buscar" class="boton">
                <a {#href=" {{ path('queEsCodigoVin') }} "#} class="que-es" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><b>¿Qué es el código VIN o FIN?</b></a>
            </form>
        </div>

    </div>
{% endblock %}