<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login Dashboard Daimler Colombia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="Login del Dash y cms del portal oficial de Daimler Colombia." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href=' {{ asset("assets/favicon.ico") }} '>

    <link href=' {{ asset("moltran/css/bootstrap.min.css") }} ' rel="stylesheet" type="text/css">
    <link href=' {{ asset("moltran/css/core.css") }} ' rel="stylesheet" type="text/css">
    <link href=' {{ asset("moltran/css/icons.css") }} ' rel="stylesheet" type="text/css">
    <link href=' {{ asset("moltran/css/components.css") }} ' rel="stylesheet" type="text/css">
    <link href=' {{ asset("moltran/css/pages.css") }} ' rel="stylesheet" type="text/css">
    <link href=' {{ asset("moltran/css/menu.css") }} ' rel="stylesheet" type="text/css">
    <link href=' {{ asset("moltran/css/responsive.css") }} ' rel="stylesheet" type="text/css">

    <script src=' {{ asset("moltran/js/modernizr.min.js") }} '></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


</head>
<body>


<div class="wrapper-page">
    <div class="panel panel-color panel-primary panel-pages">
        <div class="panel-heading bg-img">
            <div class="bg-overlay"></div>
            <h3 class="text-center m-t-10 text-white"> Sign In to <strong>Admin to <a class="text text-info" target="_blank" href="{{ path('homepage') }}">Daimler Colombia</a></strong> </h3>
        </div>


        <div class="panel-body">
            {% if error %}
                <div class="alert alert-danger alert-dismissible fade in">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <form class="form-horizontal m-t-20" action="{{ path('login') }}" method="post">

                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control input-lg" type="text" name="_username" value="{{ last_username }}" required="" placeholder="Username">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control input-lg" type="password" name="_password" required="" placeholder="Password">
                    </div>
                </div>

                <div class="form-group text-center m-t-40">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-lg w-lg waves-effect waves-light" type="submit">Log In</button>
                    </div>
                </div>
            </form>
            <a href="{{ path('homepage') }}" class="align-right btn btn-flat waves-effect waves-light btn-xs">Ir al sitio</a>

        </div>

    </div>
</div>


<script>
    var resizefunc = [];
</script>

<!-- Main  -->
<script src=' {{ asset("moltran/js/jquery.min.js") }} '></script>
<script src=' {{ asset("moltran/js/bootstrap.min.js") }} '></script>
<script src=' {{ asset("moltran/js/detect.js") }} '></script>
<script src=' {{ asset("moltran/js/fastclick.js") }} '></script>
<script src=' {{ asset("moltran/js/jquery.slimscroll.js") }} '></script>
<script src=' {{ asset("moltran/js/jquery.blockUI.js") }} '></script>
<script src=' {{ asset("moltran/js/waves.js") }} '></script>
<script src=' {{ asset("moltran/js/wow.min.js") }} '></script>
<script src=' {{ asset("moltran/js/jquery.nicescroll.js") }} '></script>
<script src=' {{ asset("moltran/js/jquery.scrollTo.min.js") }} '></script>

<script src=' {{ asset("moltran/js/jquery.app.js") }} '></script>

</body>
</html>