{% extends 'base_admin.html.twig' %}
{# TODO Cabiar nomPagina #}
{% set nomPagina = 'Recalls' %}
{% block pagina %}{{ nomPagina }}{% endblock %}
{% block ubicacion %}
    <li class="active">{{ nomPagina }}</li>
{% endblock %}

{% block content %}

    <!-- container -->
    {% if error is defined and error != null %}
        <div class="alert alert-danger alert-dismissible fade in">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            ERROR: {{ error }}.
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Lista <a href="{{ path('admin_recalls_new')}}" class="btn btn-success pull-right">Nuevo <span class="md  md-add"></span></a></h3>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th>Fecha</th>
                                </tr>
                                </thead>


                                <tbody>
                                {% for entidad in recalls %}
                                    <tr>
                                        <td>{{ entidad.id }}</td>
                                        <td><a href="{{ path('admin_recalls_edit', { 'id': entidad.id }) }}">{{ entidad.codigo }}</a></td>
                                        <td><a href="{{ path('admin_recalls_edit', { 'id': entidad.id }) }}">{{ entidad.nombre }}</a></td>
                                        <td>{{ entidad.fecha|date ('d/m/Y') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
