{% extends 'base_admin.html.twig' %}
{# TODO Cabiar nomPagina #}
{% set nomPagina = 'Recall Nuevo' %}
{% block pagina %}{{ nomPagina }}{% endblock %}
{% block ubicacion %}
    <li><a href="{{ path('admin_recalls_index') }}">Recalls</a></li>
    <li class="active">{{ nomPagina }}</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">


                    {{ form_start(form, { 'attr': {'class': 'form'} }) }}

                    {{ form_row(form.imagen) }}

                    {{ form_widget(form, {'attr': {'class': 'form-group'}}) }}
                    <div class="form-group m-b-0">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-info waves-effect waves-light">Crear</button>
                        </div>
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
