{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recall</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recall.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ recall.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ recall.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ recall.descripcion }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td><img src="{{ asset('uploads/images/')~recall.imagen }}" alt="Imagen"></td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if recall.fecha %}{{ recall.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Importancia</th>
                <td>{{ recall.importancia }}</td>
            </tr>
            <tr>
                <th>Informacion</th>
                <td>{{ recall.informacion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_recalls_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_recalls_edit', { 'id': recall.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
