<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Dashboard Daimler Colombia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="CMS para el proyecto Recoll de Daimler Colombia." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="{{ asset ('assets/favicon.ico') }}">

    <!--venobox lightbox-->
    <link rel="stylesheet" href="{{ asset ('moltran/plugins/magnific-popup/dist/magnific-popup.css') }}">

    <!-- DataTables -->
    <link href="{{ asset ('moltran/plugins/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />

    <!-- Dropzone css -->
    <link href="{{ asset ('moltran/plugins/dropzone/dist/dropzone.css') }}" rel="stylesheet" type="text/css">

    <!--bootstrap-wysihtml5-->
    <link rel="stylesheet" type="text/css" href="{{ asset ('moltran/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css') }}">
    <link href="{{ asset ('moltran/plugins/summernote/dist/summernote.css') }}" rel="stylesheet">

    {% block css %}
        <link href="{{ asset('moltran/plugins/notifications/notification.css') }}" rel="stylesheet">
    {% endblock %}

    <link href="{{ asset ('moltran/plugins/sweetalert/dist/sweetalert.css') }}" rel="stylesheet" type="text/css">

    <link href="{{ asset ('moltran/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset ('moltran/css/core.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset ('moltran/css/icons.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset ('moltran/css/components.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset ('moltran/css/pages.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset ('moltran/css/menu.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset ('moltran/css/responsive.css') }}" rel="stylesheet" type="text/css">


    <script src="{{ asset ('moltran/js/modernizr.min.js') }}"></script>
    <script>
        var nuevaImagen = '';
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js') }}/1.3.0/respond.min.js"></script>
    <![endif]-->


</head>


<body class="fixed-left">

<!-- Begin page -->
<div id="wrapper">

    <!-- Top Bar Start -->
    <div class="topbar">
        <!-- LOGO -->
        <div class="topbar-left">
            <div class="text-center">
                <a href="{{ path ('admin_homepage') }}" class="logo"><i class="md md-domain text-primary" style="color: slategrey;"></i> <span>Dashboard </span></a>
            </div>
        </div>
        <!-- Button mobile view to collapse sidebar menu -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="">
                    <div class="pull-left">
                        <button type="button" class="button-menu-mobile open-left">
                            <i class="fa fa-bars"></i>
                        </button>
                        <span class="clearfix"></span>
                    </div>
                    <!--<form class="navbar-form pull-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control search-bar" placeholder="Type here for search...">
                        </div>
                        <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                    </form>-->

                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li class="hidden-xs">
                            <a href="#" id="btn-fullscreen" class="waves-effect"><i class="md md-crop-free"></i></a>
                        </li>
                        <li class="hidden-xs">
                            <a href="{{ path('logout') }}" class="waves-effect"><i class="md md-exit-to-app"></i></a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- Top Bar End -->


    <!-- ========== Left Sidebar Start ========== -->

    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <div class="user-details">
                <div class="pull-left">
                    <img src="{{ asset ('assets/daimler_logo_claro.png') }}" alt="" class="thumb-md img-circle">
                </div>
                <div class="user-info">
                    <p class="text-muted"><b>{{ app.user.username|upper }}</b></p>
                    <p class="text-muted m-0">Rol: {{ app.user.roles[0]|replace({'ROLE_':''})|lower }}</p>
                </div>
            </div>
            <!--- Divider -->
            <div id="sidebar-menu">
                <ul>
                    <li>
                        <a href="{{ path ('admin_homepage') }}" class="waves-effect"><i class="md md-home"></i><span> Inicio </span></a>
                    </li>

                    {% if is_granted('ROLE_RECALLS') %}
                    <li>
                        <a href="{{ path('admin_recalls_index') }}" class="waves-effect"><i class="md md-web"></i><span> Recall </span></a>
                    </li>

                    <li>
                        <a href="{{ path('admin_registros') }}" class="waves-effect"><i class="md md-list"></i><span> Registros </span></a>
                    </li>
                    {% endif %}

                    {% if is_granted('ROLE_CONCESIONARIOS') %}
                    <li>
                        {#<a href="{{ path('admin_ciudades_index') }}" class="waves-effect"><i class="md md-location-city"></i><span> Concesionarios </span></a>#}
                    </li>
                    {% endif %}
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- Left Sidebar End -->



    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="pull-left page-title">{% block pagina %}{% endblock %}</h4>
                        <ol class="breadcrumb pull-right">
                            <li><a href="{{ path ('admin_homepage') }}">Inicio</a></li>
                            {% block ubicacion %}
                            {% endblock %}
                        </ol>
                    </div>
                </div>


            </div>
            {% block content %}
            {% endblock %}
        </div> <!-- content -->

        {% block footer %}
            <footer class="footer text-right">
                2017 © Daimler Colombia.
            </footer>
        {% endblock %}

    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->

<script>
    var resizefunc = [];
</script>

<!-- Main  -->
<script src="{{ asset ('moltran/js/jquery.min.js') }}"></script>
<script src="{{ asset ('moltran/js/bootstrap.min.js') }}"></script>
<script src="{{ asset ('moltran/js/detect.js') }}"></script>
<script src="{{ asset ('moltran/js/fastclick.js') }}"></script>
<script src="{{ asset ('moltran/js/jquery.slimscroll.js') }}"></script>
<script src="{{ asset ('moltran/js/jquery.blockUI.js') }}"></script>
<script src="{{ asset ('moltran/js/waves.js') }}"></script>
<script src="{{ asset ('moltran/js/wow.min.js') }}"></script>
<script src="{{ asset ('moltran/js/jquery.nicescroll.js') }}"></script>
<script src="{{ asset ('moltran/js/jquery.scrollTo.min.js') }}"></script>

<!-- Datatables-->
<script src="{{ asset ('moltran/plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset ('moltran/plugins/datatables/dataTables.bootstrap.js') }}"></script>


<!-- Datatable init js -->
<script src="{{ asset ('moltran/pages/datatables.init.js') }}"></script>


<script src="{{ asset ('moltran/js/jquery.app.js') }}"></script>



<script type="text/javascript" src="{{ asset ('moltran/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js') }}"></script>
<script type="text/javascript" src="{{ asset ('moltran/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js') }}"></script>

<!--form validation init-->
<script src="{{ asset ('moltran/plugins/summernote/dist/summernote.min.js') }}"></script>

<!-- Page Specific JS Libraries -->
<script src="{{ asset ('moltran/plugins/dropzone/dist/dropzone.js') }}"></script>

<!-- Galeria -->
<script type="text/javascript" src="{{ asset ('moltran/plugins/isotope/dist/isotope.pkgd.min.js') }}"></script>
<script type="text/javascript" src="{{ asset ('moltran/plugins/magnific-popup/dist/jquery.magnific-popup.min.js') }}"></script>

<!-- Sweet-Alert  -->
<script src="{{ asset ('moltran/plugins/sweetalert/dist/sweetalert.min.js') }}"></script>
<script src="{{ asset ('moltran/pages/jquery.sweet-alert.init.js') }}"></script>


{% block js %}
{% endblock %}

<script type="text/javascript">
    $(document).ready(function() {
        $('#datatable').dataTable();
        $('.summernote').summernote({
            height: 200,                 // set editor height

            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor

            focus: true                 // set focus to editable area after initializing summernote
        });
        {% block ready %}
        {% endblock %}
    } );
</script>

</body>
</html>