<!doctype html>
<html lang="es">
<head>
    {% block metas %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {% block links %}
        <link rel="stylesheet" href="{{ asset('../css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ asset('../css/bootstrap-theme.min.css')}}">
        <link rel="stylesheet" href="{{ asset('../css/main.css')}}">

    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:500,600,700" rel="stylesheet">
    <script src="{{ asset('../js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"></script>

    <title>Freightliner Colombia - Bienvenido al Sitio oficial</title>
    <link rel="icon" type="image/png" href="{{ asset('../img/favicon/favicon-16x16.png')}}">

</head>
{% if classBody is defined %}
<body class="{{ classBody }}">
{% else %}
<body>
{% endif %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47958253-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-47958253-1');
</script>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
{% block header %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="contenedor">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="freightliner" href="http://freightliner.com.co/index.php"></a>
                <div class="info-header hidden-xs">
                    <p>Servicio al cliente: <b>+57 1 742 6850</b></p>
                    <!-- <a href="mailto:info@freightliner.com.co">info@freightliner.com.co</a> -->
                </div>
                <a class="visible-xs btn-productos">Productos</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul>
                    {% if active is not defined %}
                        {% set active = 0 %}
                    {% endif %}
                    <li><a href="http://freightliner.com.co/index.php" class="{% if active == 1 %}active{% endif %}">Inicio</a></li>
                    <li class="expandible"><a class="{% if active == 2 %}active{% endif %}" id="productos">Productos</a></li>
                    <li><a href="http://freightliner.com.co/posventa.php" class="{% if active == 3 %}active{% endif %}">Posventa</a></li>
                    <li><a href="http://freightliner.com.co/organizacion.php" class="{% if active == 4 %}active{% endif %}">¿por qué freightliner?</a></li>
                    <li><a href="http://freightliner.com.co/timeline.php" class="{% if active == 5 %}active{% endif %}">75 años de innovación</a></li>

                    <li><a href="http://freightliner.com.co/concesionarios.php" class="{% if active == 8 %}active{% endif %}">Concesionarios</a></li>
                    <li><a href="http://freightliner.com.co/noticias.php" class="{% if active == 6 %}active{% endif %}">Noticias</a></li>
                    <!-- <li><a href="http://freightliner.com.co/" class="{% if active == 7 %}active{% endif %}">Recall</a></li> -->
                    <li><a href="http://freightliner.com.co/contacto.php" class="{% if active == 9 %}active{% endif %}">Contacto</a></li>
                </ul>
                <div class="redes">
                    <a class="facebook" target="_blank" href="https://www.facebook.com/FreightlinerCol/"></a>
                    <a class="instagram" target="_blank" href="https://www.instagram.com/freightlinercol/"></a>
                    <!-- <a class="youtube" href="http://freightliner.com.co/"></a> -->
                </div>
            </div><!--/.navbar-collapse -->
        </div>
        <div class="menu-expandido">
            <ul class="tipo">

                <li>
                    <a style="background-image: url(../img/opc-carga.jpg);"><p>Movimiento en carretera</p></a>
                    <ul class="opciones">
                        <li>
                            <a>CASCADIA</a>
                            <div class="detalles">
                                <div class="det-image" style="background-image: url(../img/assets/megamenu/Foto-megamenu-Cascadia.jpg);"></div>
                                <p class="det-nombre">CASCADIA</p>
                                <p class="det-motor">Detroit DD15</span></p>
                                <p class="det-potencia">475HP</span></p>
                                <p class="det-precio"><span>$</span>323.200.000</p>
                                <div class="det-btn">
                                    <a href="http://freightliner.com.co/cascadia-dd15.php">Conozca más</a>
                                    <a target="_blank" href="http://freightliner.com.co/pdf/cascadia.pdf">Ficha técnica</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a>M2 106 MINIMULA</a>
                            <div class="detalles">
                                <div class="det-image" style="background-image: url(../img/assets/megamenu/Foto-megamenu-Minimula.jpg);"></div>
                                <p class="det-nombre">M2 106 MINIMULA</p>
                                <p class="det-pbv">5.321<span>kg</span></p>
                                <p class="det-combinado">40.500kg</p>
                                <p class="det-precio"><span>$</span>297.000.000</p>
                                <div class="det-btn">
                                    <a href="http://freightliner.com.co/m2106-minimula.php">Conozca más</a>
                                    <a target="_blank" href="http://freightliner.com.co/pdf/m2106-minimula.pdf">Ficha técnica</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a>M2 106 4x2 LARGO</a>
                            <div class="detalles">
                                <div class="det-image" style="background-image: url(../img/assets/megamenu/Foto-megamenu-M2-106-Camion-4X2.jpg);"></div>
                                <p class="det-nombre">M2 106 4x2 LARGO</p>
                                <p class="det-pbv">5.620<span>kg</span></p>
                                <p class="det-distancia">6.121mm</p>
                                <p class="det-precio"><span>$</span>283.000.000</p>
                                <div class="det-btn">
                                    <a href="http://freightliner.com.co/m2106-4x2-largo.php">Conozca más</a>
                                    <a target="_blank" href="http://freightliner.com.co/pdf/m21064x2-camion-largo.pdf">Ficha técnica</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a>M2 106 6x4 LARGO</a>
                            <div class="detalles">
                                <div class="det-image" style="background-image: url(../img/assets/megamenu/Foto-megamenu-M2-106-Camion-6X4.jpg);"></div>
                                <p class="det-nombre">M2 106 6x4 LARGO</p>
                                <p class="det-pbv">7.661<span>kg</span></p>
                                <p class="det-distancia">6.400mm</p>
                                <p class="det-precio"><span>$</span>330.000.000</p>
                                <div class="det-btn">
                                    <a href="http://freightliner.com.co/m2106-6x4-largo.php">Conozca más</a>
                                    <a target="_blank"  href="http://freightliner.com.co/pdf/m2106-6x4-camion-largo.pdf">Ficha técnica</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>

                <li>
                    <a style="background-image: url(../img/opc-construccion.jpg);"><p>Movimiento en todo terreno</p></a>
                    <ul class="opciones">
                        <li>
                            <a>M2 106 VOLCO 6x4</a>
                            <div class="detalles">
                                <div class="det-image" style="background-image: url(../img/assets/megamenu/Foto-megamenu-M2-106-Volco.jpg);"></div>
                                <p class="det-nombre">M2 106 VOLCO 6x4</p>
                                <p class="det-vol-vac">9.504<span>kg</span></p>
                                <p class="det-capacidad">14mts<span>3</span></p>
                                <p class="det-precio"><span>$</span>266.800.000</p>
                                <div class="det-btn">
                                    <a href="http://freightliner.com.co/m2-volco.php">Conozca más</a>
                                    <a target="_blank" href="http://freightliner.com.co/pdf/m2106-6X4-volco.pdf">Ficha técnica</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a>M2 112 VOLCO</a>
                            <div class="detalles">
                                <div class="det-image" style="background-image: url(../img/assets/megamenu/Foto-megamenu-M2-112-Volco.jpg);"></div>
                                <p class="det-nombre">M2 112 VOLCO</p>
                                <p class="det-motor">MBE 4000</span></p>
                                <p class="det-potencia">350HP</span></p>
                                <p class="det-precio-volco-hoper"><span>$</span>296.500.000</p>
                                <div class="det-btn">
                                    <a href="http://freightliner.com.co/m2-112-volco.php">Conozca más</a>
                                    <a target="_blank" href="http://freightliner.com.co/pdf/M2112-volco.pdf">Ficha técnica</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="overlay"></div>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
    <footer>
        <div class="content">
            <div class="col-md-8">
                <a class="freightliner" href="http://freightliner.com.co/index.php"></a>
                <div class="boletin">
                    <h3>Boletín virtual</h3>
                    <p>Suscríbase y entérese de las últimas noticias, novedades y ofertas de la marca.</p>
                    <form id="newsletter">
                        <input type="email" name="mail-boletin" id="correoNewsletter" placeholder="Escriba su correo electrónico" required>
                        <input class="boton" id="submitNewsletter" type="submit" value="suscribirme">
                        <p id="labelMsjNewsletter" class="msj-form"></p>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <ul>
                    <li><a href="http://freightliner.com.co/index.php">Inicio</a></li>
                    <li><a href="http://freightliner.com.co/organizacion.php">Por qué Freightliner</a></li>
                    <li><a href="http://freightliner.com.co/posventa.php">Posventa</a></li>
                    <li><a href="http://freightliner.com.co/noticias.php">Noticias</a></li>
                    <li><a target="_blank" href="http://daimler.com.co/freightliner.php">Garantía</a></li>

                </ul>
                <ul>
                    <!-- <li><a href="http://freightliner.com.co/">Sala de prensa</a></li> -->
                    <li><a href="http://freightliner.com.co/recall.php">Campaña de seguridad</a></li>
                    <li><a href="http://freightliner.com.co/concesionarios.php">Concesionarios</a></li>
                    <li><a href="http://freightliner.com.co/contacto.php">Contacto</a></li>
                    <li><a href="http://freightliner.com.co/terminos-condiciones.php">Términos y condiciones</a></li>
                </ul>
                <div class="redes">
                    <a class="facebook" target="_blank" href="https://www.facebook.com/FreightlinerCol/"></a>
                    <a class="instagram" target="_blank" href="https://www.instagram.com/freightlinercol/"></a>
                    <!-- <a class="youtube" href="http://freightliner.com.co/"></a> -->
                </div>
            </div>
        </div>

        <hr>

        <div class="content legales">
            <a class="daimler" target="_blank" href="http://daimler.com.co/"></a>
            <p>Todos los derechos reservados - Daimler Colombia S.A. 2017 - <a href="http://freightliner.com.co/pdf/terminos-y-condiciones.pdf" target="_blank">Términos y condiciones</a></p>
        </div>
    </footer>
{% endblock %}
{% block modals %}{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('../js/vendor/jquery-1.11.2.min.js') }}"><\/script>')</script>

    <script src="{{ asset('../js/vendor/bootstrap.min.js')}}"></script>
    {#<script src="{{ asset('../js/jquery.mobile.custom.js')}}"></script>#}
    <script src="{{ asset('../js/main.js')}}"></script>

{% endblock %}
<script type="text/javascript">
    var correoNewsletter = $('#correoNewsletter');
    var submitNewsletter = $('#submitNewsletter');
    var error = "Ha habido un error al procesar la solicitud<br>por favor vuelva a intentarlo";
    $('form#newsletter').submit(function(event) {
        var correoN = correoNewsletter.val();
        var labelMsjNewsletter = $('#labelMsjNewsletter');
        submitNewsletter.val('ENVIANDO...');
        $.ajax({
            type        : 'POST',
            url         : './libs/addNewsletter.php',
            data        : {correo:correoN},
            success: function(respose){
                console.log(respose);
                respose = JSON.parse(respose);
                if (respose.code==200) {
                    correoNewsletter.val("");
                    submitNewsletter.val('SUSCRITO');
                    labelMsjNewsletter.html('');
                }else{
                    console.log(respose.error);
                    labelMsjNewsletter.html(respose.msj);
                    submitNewsletter.val('SUSCRIBIRME');
                }
                labelMsjNewsletter.show(250);
            },
            error: function (response) {
                console.log(response);
                labelMsjNewsletter.html(error);
                labelMsjNewsletter.show(250);
                submitNewsletter.val('SUSCRIBIRME');
            }

        });
        event.preventDefault();
    });
</script>
</body>
</html>