{% extends 'base.html.twig' %}

{% block body %}
    <h1>Concesionarios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for concesionario in concesionarios %}
            <tr>
                <td><a href="{{ path('admin_concesionarios_show', { 'id': concesionario.id }) }}">{{ concesionario.id }}</a></td>
                <td>{{ concesionario.nombre }}</td>
                <td>{{ concesionario.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_concesionarios_show', { 'id': concesionario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_concesionarios_edit', { 'id': concesionario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_concesionarios_new') }}">Create a new concesionario</a>
        </li>
    </ul>
{% endblock %}
