{% extends 'base.html.twig' %}

{% block body %}
    <h1>Concesionario</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ concesionario.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ concesionario.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ concesionario.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_concesionarios_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_concesionarios_edit', { 'id': concesionario.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
