<script type="text/javascript">
    $('form#{{ nombreForm }}').submit(function(event) {
        {% if submit != '' %}
        var submit = $("#{{ submit }}");
        var textoSubmit = submit.val();
        submit.val("ENVIANDO...");
        {% else %}
        var submit = $("#{{ submitBtn }}");
        var textoSubmit = submit.html();
        submit.html("ENVIANDO...");
        {% endif %}
        var error = "Ha habido un error al procesar la solicitud<br>por favor vuelva a intentarlo";
        var formData = {};
        {% for key in campos|keys %}
        formData['{{ key }}'] = $('#{{ key }}').val();
        {% endfor %}
        var label = $("#{{ labelMsj }}");
        console.log(formData);
        // process the form
        $.ajax({
            type        : 'POST',
            url         : '{{ path }}',
            data        : formData,
            success: function(respose){
                console.log(respose);
                respose = JSON.parse(respose);
                if (respose.code==200) {
                    {# Limpiar formulario #}
                    {% for key, campo in campos %}
                    {% if campo == 'input' or campo == 'textarea' %}
                    $('#{{ key }}').val("");
                    {% elseif campo == 'select'  %}
                    $('#{{ key }}').val(null);
                    {% endif %}
                    {% endfor %}
                    label.html("{{ msj }}");
                    {% if modal is defined %}
                        {% if modalhide is defined %}
                            $('#{{ modalhide }}').modal('hide');
                        {% endif %}
                        $('#{{ modal }}').modal('show');
                    {% endif %}
                }else{
                    console.log(respose.error);
                    label.html(respose.msj);
                }
                label.show(250);
                {% if submit != '' %}
                submit.val(textoSubmit);
                {% else %}
                submit.html(textoSubmit);
                {% endif %}

            },
            error: function (response) {
                console.log(response);
                label.html(error);
                label.show(250);
                {% if submit != '' %}
                submit.val(textoSubmit);
                {% else %}
                submit.html(textoSubmit);
                {% endif %}
            }

        });
        event.preventDefault();
    });
</script>